{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="row">
<div class="nav flex-column nav-pills bg-light d-md-block col-md-2 " id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Loans</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Release</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Reports</a>
</div>
<div class="tab-content col-md-9 " id="v-pills-tabContent">
  <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <div class="card-columns">

      <div class="card">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Customers with Loans : {{data.customer.withloans}}</h6>
          <p>Customers without Loans : {{data.customer.withoutloans}}</p>
            <p></p>
      </div>

      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Customers</h5>
          <p class="card-text">Count :{{data.customer.count}}</p>
          <p class="card-text">Latest :{{data.customer.latest}}
          </p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Loans</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Count :{{data.loan.count}}</li>
            <li class="list-group-item">Latest :{{data.loan.latest}}</li>
            <li class="list-group-item">Amount :{{data.loan.amount.t}} {{data.loan.amount_words}}</li>
            <li class="list-group-item">Gold Loan Avg :{{data.loan.gold_amount.t}}/{{data.loan.gold_weight.t}}={{data.loan.gavg}}</li>
            <li class="list-group-item">Silver Loan Avg :{{data.loan.silver_amount.t}}/{{data.loan.silver_weight.t}}={{data.loan.savg}}</li>
          </ul>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Release</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Count :{{data.release.count}}</li>
            <li class="list-group-item">Amount :{{data.release.count}}</li>
            <li class="list-group-item">today :{{data.release.count}}</li>
            <li class="list-group-item">this month :{{data.release.count}}</li>
          </ul>
          </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">License</h5>
          <p class="card-text">Count :{{data.license.count}}</p>
          <ul class="list-group list-group-flush">{%for l in data.license.totalloans %} <li class="list-group-item">{{l.name}}-{{l.t}}</li>{%endfor%}<ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Customers with max loans</h5>
          <ul class="list-group list-group-flush">
            {%for c in data.customer.maxloans%}<li class="list-group-item"> {{c.name}}  {{c.num_loans}}  {{c.sum_loans}} </li>{%endfor%}
          </ul>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">..3.</div>
  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...4s</div>
</div>
</div>
{% endblock %}
