{% load static %}
{% block content %}
<div class="row">
<div class="nav flex-column nav-pills bg-light d-md-block col-md-2 " id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Loans</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Release</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Reports</a>
</div>
<div class="tab-content col-md-10 " id="v-pills-tabContent">
  <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <canvas id="licChart" width="300" height="200"></canvas>
      <div class="card-body">
        <h5 class="card-title">Loans by License(Series)</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <canvas id="loansbyyear" width="300" height="200"></canvas>
      <div class="card-body">
        <h5 class="card-title">Loans By Year</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <canvas id="loanbyitems" width="300" height="200"></canvas>
      <div class="card-body">
        <h5 class="card-title">By Items</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <canvas id="thismonthChart" width="300" height="200"></canvas>
      <div class="card-body">
        <h5 class="card-title">Loans This Month</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <canvas id="thisyearChart" width="300" height="200"></canvas>
      <div class="card-body">
        <h5 class="card-title">Loans this Year</h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <canvas id="loanstatuschart" width="300" height="200"></canvas>
      <div class="card-body">
        <h5 class="card-title">Loans Status</h5>
      </div>
    </div>
  </div>
</div>
    <div class="card-columns">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Loans</h5>
          <ul class="list-group list-group-flush">
            <li>License Total :{% for c in data.license.totalloans %} {{c.id}}:{{c.t}}</li>{%endfor%}
            <li class="list-group-item">Count :{{data.loans.unreleased.count}}</li>
            <li class="list-group-item">Amount :{{data.loan.amount.t}} </li>
            <li class="list-group-item">{{data.loan.amount_words}}</li>

          </ul>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Average</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Gold Loan Avg :{{data.loan.gold_amount.t}}/{{data.loan.gold_weight.t}}={{data.loan.gavg}}</li>
            <li class="list-group-item">Silver Loan Avg :{{data.loan.silver_amount.t}}/{{data.loan.silver_weight.t}}={{data.loan.savg}}</li>
          </ul>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Interest Due</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{data.loan.interestdue.t}}</li>
          </ul>
        </div>
      </div>
    </div>


  </div>
  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Customers with max loans</h5>
          <ul class="list-group list-group-flush">
            {%for c in data.customer.maxloans%}<li class="list-group-item"> {{c.name}}  {{c.num_loans}}  {{c.sum_loans}} {{c.tint}}</li>{%endfor%}
          </ul>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
    <div class="card-group">
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Loans</h5>
      <p class="card-text">Total : {{data.loan.total_loans}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Released</h5>
      <p class="card-text">Total : {{data.loan.released_loans}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Unreleased</h5>
      <p class="card-text">Total : {{data.loan.unreleased_loans}}
                          </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
  </div>
  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...4s</div>
</div>
</div>


<script>

  var loanstatus_data = {
    label: 'Loan Status',
    borderColor: 'red',
    data: {{data.loan.status}}
  };
  var lsc = document.getElementById('loanstatuschart').getContext('2d');
  var lschart = new Chart(lsc,{
    type:'pie',
    data: {
      labels: ['released','Unreleased'],
      datasets: [loanstatus_data]},
      borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          ],
      borderWidth: 1
          });

  var s1 = {
  label: 'loan by year',
  borderColor: 'red',
  data: [{% for i in data.loan.datechart %} {{i.l}},{% endfor %}]
  };
  var ds2 = {
  label: 'unreleased loan by year',
  borderColor: 'green',
  data: [0,0,0,{% for i in data.loan.datechart1 %} {{i.l}},{% endfor %}]
  };

  var ctx1 = document.getElementById('loansbyyear').getContext('2d');
  var chart = new Chart(ctx1, {
    type: 'line',
    data: {
      labels:[{% for i in data.loan.datechart %}{{i.year}},{%endfor%}],
      datasets: [s1,ds2] },
  });

  var s2 = {
  label: 'This month loan',
  borderColor: 'red',
  backgroundColor: 'red',
  data: [{% for i in data.loan.thismonth %} {{i.t}},{% endfor %}]
    };
  var lasts2 = {
  label: 'last month loan',
  borderColor: 'blue',
  backgroundColor: 'blue',
  data: [{% for i in data.loan.lastmonth %} {{i.t}},{% endfor %}]
    };

  var ctx2 = document.getElementById('thismonthChart').getContext('2d');
  var chart = new Chart(ctx2, {
    type: 'line',
    data: {
      labels:[{% for i in data.loan.thismonth %}'{{i.date_only}}',{%endfor%}],
      datasets: [s2,lasts2] },
    });

    var syear = {
    label: 'This year loan',
    borderColor: 'red',
    data: [{% for i in data.loan.thisyear %} {x:'{{i.month}}',y:{{i.t}}},{% endfor %}]
      };

    var lastyear = {
    label: 'last year loan',
    borderColor: 'blue',

    data: [{% for i in data.loan.lastyear %} {x:'{{i.month}}',y:{{i.t}}},{% endfor %}]
      };

    var ctxyear = document.getElementById('thisyearChart').getContext('2d');
    var chart = new Chart(ctxyear, {
      type: 'line',
      data: {
        labels:[{% for i in data.loan.thisyear %}'{{i.month}}',{%endfor%}],
        datasets: [syear,lastyear] },
      });

  var ctx3 = document.getElementById("loanbyitems");
  var myChart = new Chart(ctx3, {
      type: 'pie',
      data: {
      labels: ["Gold", "Silver", "Bronze"],
      datasets: [{

          data:{{data.loan.sumbyitem}},
          backgroundColor: [
            "#F7464A",
            "#46BFBD",
            "#FDB45C",
            "#949FB1",
            "#4D5360",
            ],

          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }]
    },
  options : {
    tooltips: {
    callbacks: {
    label: function(tooltipItem, data) {
      var dataset = data.datasets[tooltipItem.datasetIndex];
      var meta = dataset._meta[Object.keys(dataset._meta)[0]];
      var total = meta.total;
      var currentValue = dataset.data[tooltipItem.index];
      var percentage = parseFloat((currentValue/total*100).toFixed(1));
      return currentValue + ' (' + percentage + '%)';
    },
    title: function(tooltipItem, data) {
      return data.labels[tooltipItem[0].index];
    }
    }
  }
  },
});

var ctx = document.getElementById("licChart");
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [{%for i in data.license.licchart%}'{{i.name|slugify}}',{%endfor%}],
        datasets: [{
                    data:[{% for i in data.license.licchart%}{{i.t}},{%endfor%}],
                    backgroundColor: [
                                       "#F7464A",
                                       "#46BFBD",
                                       "#FDB45C",
                                       "#949FB1",
                                       "#4D5360",
                                     ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
        }]
    },
    options : {
      tooltips: {
      callbacks: {
      label: function(tooltipItem, data) {
        var dataset = data.datasets[tooltipItem.datasetIndex];
        var meta = dataset._meta[Object.keys(dataset._meta)[0]];
        var total = meta.total;
        var currentValue = dataset.data[tooltipItem.index];
        var percentage = parseFloat((currentValue/total*100).toFixed(1));
        return currentValue + ' (' + percentage + '%)';
      },
      title: function(tooltipItem, data) {
        return data.labels[tooltipItem[0].index];
      }
    }
  }
  },
});
</script>
{% endblock %}
