{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Loan Detail <a class="btn btn-default" href="{% url 'loan-list' %}">Loan Listing</a></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a class="btn btn-default" href="{% url 'girvi_loan_list' %}">Loan Listing</a>
      <a class="btn btn-default" href="{% url 'girvi_loan_create' %}">Add new</a>
      <a class="btn btn-secondary" href="{% url 'loan_pdf' loan.id %}">Print</a>
      <a class="btn btn-secondary" href="{% url 'girvi_adjustment_create' loan.id %}">Add Adjustment</a>
      <a class="btn btn-secondary" href="{% url 'girvi_release_create' loan.id %}">Release</a>
      <a class="btn btn-primary" href="{% url 'girvi_loan_update' loan.id %}">Update</a>
      <a class="btn btn-primary" href="{% url 'girvi_loan_delete' loan.id %}">Delete</a>
      <a class="btn btn-primary" href="{% url 'girvi_loan_renew' loan.id %}">Renew</a>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>
<div class="btn-group justify-content-between" role="group" aria-label="Basic example">
  {%if previous%}
  <a href="{% url 'girvi_loan_detail' previous.pk %}" type="button" class="btn btn-primary mr-2">Previous
    {{previous.loanid}}</a>
  {%endif%}
  {%if next %}
  <a href="{% url 'girvi_loan_detail' next.id %}" type="button" class="btn btn-primary mr-2">Next {{next.loanid}}</a>
  {%endif%}
</div>
<div class="row">
  <div class="col-6">
    <table class="table table-sm table-bordered table-striped">
      <tbody>
        <tr>
          <td>
            loan id:
          </td>
          <td>
            {{object.lid}}
          </td>
        </tr>
        <tr>
          <td>Series</td>
          <td>{{object.series}}</td>
        </tr>
        <tr>
          <td>Customer</td>
          <td>
            <a href="{% url 'contact_customer_detail' object.customer.id %}">{{ object.customer }}</a>
            {%if not object.posted %}
            <a class="btn btn-info" href="{% url 'contact_customer_update' object.customer.id %}">Edit</a>
          </td>
          {%endif%}
        </tr>
        <tr>
          <td>Posted</td>
          <td>
            {%if object.posted%}
            <a class="btn btn-info" href="{% url 'girvi_loan_unpost' object.id %}">Unpost</a>
            {%else%}
            <a class="btn btn-info" href="{% url 'girvi_loan_post' object.id %}">Post</a>
            {%endif%}
          </td>
        </tr>
        <tr>
          <td>created</td>
          <td>{{ object.created }}</td>
        </tr>
        <tr>
          <td>last_updated</td>
          <td>{{ object.last_updated }}</td>
        </tr>
        <tr>
          <td>itemtype</td>
          <td>{{ object.itemtype }}</td>
        </tr>
        <tr>
          <td>itemdesc</td>
          <td>{{ object.itemdesc }}</td>
        </tr>
        <tr>
          <td>itemweight</td>
          <td>{{ object.itemweight }}</td>
        </tr>
        <tr>
          <td>itemvalue</td>
          <td>{{ object.itemvalue }}</td>
        </tr>
        <tr>
          <td>loanamount</td>
          <td>{{ object.loanamount }}</td>
        </tr>
        <tr>
          <td>interestrate</td>
          <td>{{ object.interestrate }}</td>
        </tr>
        <tr>
          <td>interest</td>
          <td>{{ object.interest }}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <div class="col-6">
    <div class="card">
      {% if loan.release %}
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Release Id</th>
            <th scope="col">Release Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Interest</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><a href="{% url 'girvi_release_detail' loan.release.id %}">{{loan.release.releaseid}}</a></th>
            <td>{{loan.release.created}}</td>
            <td>{{loan.release.total_received}}</td>
            <td>{{loan.release.interestpaid}}</td>
          </tr>
      
        </tbody>
      </table>
      {%endif%}
    </div>
    <div class="card">
      <div class="card-title">Loan Statement</div>
      <div class="card-body">
        <ul>
          {%if loan.loanstatement_set%}
          {%for i in loan.loanstatement_set.all%}
          <li>{{i.created}}</li>
          {%endfor%}
          {%endif%}
        </ul>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
