{%extends "_base.html"%}
{% load static %}
{%load django_tables2%}

{% block content %}
<div id="loan-content">
  <div id="head">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Loan</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <a class="btn btn-primary" href="{% url 'girvi:girvi_loan_create' %}" 
            role="button">New Loan</a>
          <a class="btn btn-primary" href="{% url 'girvi:bulk_release' %}" 
            role="button">Bulk Release</a>
          <a class="btn btn-primary" href="{% url 'girvi:loan_archive'%}"
            role="button">Archive</a>
            <a class="btn btn-primary" href="{% url 'girvi:notice'%}"
            role="button">Outdated</a>
          <a class="btn btn-primary" href="{% export_url 'ods' %}" 
            role="button">export</a>
          <a class="btn btn-primary" href="{%url 'girvi:girvi_physicalstock_add'%}">take stock</a>
          <a class="btn btn-primary" href="{%url 'girvi:girvi_physicalstock_list'%}">Physical Loans</a>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <div id="modal" class="modal fade" tabindex="-1">
      <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>
    <div class="row">
      <div class="col-sm-3" id="filter">
        {% include "filter.html"%}
      </div>
      <div class="col-sm-9" id="results">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Table</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Stats</button> 
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <div hx-include="#checked-items" hx-target="#content">
              <a class="btn btn-danger" hx-post="{% url 'girvi:girvi_loan_deletemultiple'%}"
                hx-include="[name='selection']" hx-confirm = "sure?">
                Delete</a>
              <a class="btn btn-info" hx-get="{% url 'girvi:bulk_release'%}" 
                  hx-include="[name='selection']">
                Release</a>
              <a class="btn btn-info" hx-post="{% url 'girvi:girvi_create_notice'%}?{{request.GET.urlencode}}"
                                      hx-include="[name='selection'],[name='selectall']">
                Notify</a>
            </div>
            <div class="form-check"> 
              <input class="form-check-input" type="checkbox" value="selected" id="selectall" name="selectall" onclick="toggle(this)">
              <label class="form-check-label" for="flexCheckDefault">
                Select All
              </label>
            </div>
            <div id="table" class = "table-responsive">  
              <p>Results :{{table.paginator.count}}  | Selected <span id="text"></span> /{{table.paginator.count}} </p>
              {% render_table table %}
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <ul class="list-group">
              <li class="list-group-item">{{stats.total_no_of_loans}}</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
              <li class="list-group-item">A fourth item</li>
              <li class="list-group-item">And a fifth one</li>
            </ul>
          </div>
        </div>
        
      </div>
  </div>
  </div>
</div>
<!-- This code seems to assume that the necessary CSS and JS libraries (e.g., Bootstrap, jQuery) are loaded in the HTML file. -->

<script language="JavaScript">

  // Attach a change event handler to all input elements of type "checkbox"
  $('input[type=checkbox]').change(function() {
    // Get the element with the ID "selectall"
    var all = document.getElementById("selectall");
    
    // If the checkbox with ID "selectall" is checked
    if (all.checked) {
      // Set the text content of the element with ID "text" to {{table.paginator.count}}
      // Note: This part contains an expression {{table.paginator.count}} which looks like template language,
      //       but it's not valid JavaScript. This might be part of some templating engine or framework.
      //       In JavaScript, you would typically use template literals with backticks (``) for similar purposes.
      $('#text').text({{table.paginator.count}})
    } else {
      // If the "selectall" checkbox is not checked,
      // set the text content of the element with ID "text" to the number of checked checkboxes with name "selection"
      $('#text').text($('input[name=selection]:checked').length)
    }
  });

  // Function to toggle the state of all checkboxes based on a source checkbox
  function toggle(source) {
    checkboxes = document.getElementsByName('selection');
    for (var i in checkboxes)
      checkboxes[i].checked = source.checked;
  }
</script>

  
{% endblock %}

