{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Loan Detail</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a class="btn btn-default" href="{% url 'girvi:girvi_loan_list' %}">Loan Listing</a>
      <a class="btn btn-default" href="{% url 'girvi:girvi_loan_create' %}">Add new</a>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>
{% block loaninfo%}
<div id="content" class="" 
    hx-trigger="loanChanged from:body" 
    hx-get="{% url 'girvi:girvi_loan_detail' object.id%}">
    <div class="btn-group justify-content-between mb-3" role="group" aria-label="Basic example">
        {%if previous%}
        <a hx-get="{% url 'girvi:girvi_loan_detail' previous.pk %}" hx-target="#data" hx-push-url="true" hx-swap="outerHTML"
            type="button" class="btn btn-primary">Previous
            {{previous.loanid}}</a>
        {%endif%}
        {%if next %}
        <a hx-get="{% url 'girvi:girvi_loan_detail' next.id %}" hx-target="#data" hx-push-url="true" hx-swap="outerHTML"
            type="button" class="btn btn-primary">Next {{next.loanid}}</a>
        {%endif%}
        
        <a class="btn btn-secondary" href="{% url 'girvi:girvi_adjustment_create' object.id %}">Add Adjustment</a>
        <a class="btn btn-secondary" href="{% url 'girvi:loan_pdf' loan.id %}">Print</a>
        <a class="btn btn-secondary" href="{% url 'girvi:girvi_release_create' object.id %}">Release</a>
        <a class="btn btn-primary" href="{% url 'girvi:girvi_loan_update' object.id %}">Update</a>
        <a class="btn btn-primary" href="{% url 'girvi:girvi_loan_delete' object.id %}">Delete</a>
        <a class="btn btn-primary" href="{% url 'girvi:girvi_loan_renew' object.id %}">Renew</a>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <table class="table table-sm table-bordered table-striped {%if not sunken%}table-danger{%endif%} ">
                <tbody>
                    <tr>
                        <td>
                            loan id:
                        </td>
                        <td>
                            {{object.lid}}
                        </td>
                    </tr>
                    <tr>
                        <td>Series</td>
                        <td>{{object.series}}</td>
                    </tr>
                    <tr>
                        <td>Customer</td>
                        <td>
                            <a href="{% url 'contact_customer_detail' object.customer.id %}">{{ object.customer }}</a>
                            {%if not object.posted %}
                            <a class="btn btn-info"
                                href="{% url 'contact_customer_update' object.customer.id %}">Edit</a>
                        </td>
                        {%endif%}
                    </tr>
                    <tr>
                        <td>Posted</td>
                        <td>
                            {%if object.posted%}
                            <a class="btn btn-info" href="{% url 'girvi:girvi_loan_unpost' object.id %}">Unpost</a>
                            {%else%}
                            <a class="btn btn-info" href="{% url 'girvi:girvi_loan_post' object.id %}">Post</a>
                            {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <td>created</td>
                        <td>{{ object.created }}</td>
                    </tr>
                    <tr>
                        <td>last_updated</td>
                        <td>{{ object.last_updated }}</td>
                    </tr>
                    <tr>
                        <td>itemtype</td>
                        <td>{{ object.itemtype }}</td>
                    </tr>
                    <tr>
                        <td>itemdesc</td>
                        <td>{{ object.itemdesc }}</td>
                    </tr>
                    <tr>
                        <td>itemweight</td>
                        <td>{{ object.itemweight }}</td>
                    </tr>
                    <tr>
                        <td>loanamount</td>
                        <td>{{ object.loanamount }}</td>
                    </tr>
                    <tr>
                        <td>interestrate</td>
                        <td>{{ object.interestrate }}</td>
                    </tr>
                    <tr>
                        <td>interest</td>
                        <td>{{ object.interestdue }}</td>
                    </tr>
                    <tr>
                        <td>Value</td>
                        <td>{{ object.current_value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <div class="accordion" id="accordionExample">      
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Release :<span class="badge text-bg-secondary">{{object.release.created|date}}</span>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {%if loan.release%}
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Interest</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a
                                                href="{% url 'girvi:girvi_release_detail' loan.release.id %}">{{loan.release.releaseid}}</a>
                                        </td>
                                        <td>{{loan.release.total_received}}</td>
                                        <td>{{loan.release.interestpaid}}</td>
                                    </tr>
              
                                </tbody>
                            </table>
                        {%endif%}
                    </div>
                  </div>
                </div>
                
                {%if statements%}
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Loan Statement
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>   
                            {%for i in loan.loanstatement_set.all%}
                            <li>{{i.created}}</li>
                            {%endfor%}   
                        </ul>
                    </div>
                  </div>
                </div>
                {%endif%}
                
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Items  :<span class="badge text-bg-secondary">{{items.count}}</span>
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <a class="btn btn-info"
                            hx-get="{% url 'girvi:girvi_loanitem_create' object.id%}"
                            hx-target="#items" hx-swap="beforeend">Add Items</a>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th></th>
                                    <th>Item</th><th>qty</th><th>weight</th><th>ROI</th><th>Amount</th>
                                    </th><th>Interest</th><th>Action</th>
                                </thead>
                                <tbody id = "items" hx-target = "closest tr" hx-swap="outerHTML">
                                    {%for i in items%}
                                    {% include 'girvi/partials/item-inline.html' with object=i %}
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>  
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJournal" aria-expanded="false" aria-controls="collapseJournal">
                          Journals  :<span class="badge text-bg-secondary">{{journals.count}}</span>
                      </button>
                    </h2>
                    <div id="collapseJournal" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <div class="table-responsive">
                              <table class="table table-striped">
                                  {%for i in journals%}
                                    {% include 'girvi/journals-inline.html' with object=i %}
                                    {%endfor%}
                              </table>
                          </div>
                      </div>
                    </div>
                  </div>     
              </div>
        </div>
    </div>  
</div>
{%endblock%}
{% endblock %}
