<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pledge Loan</title>
    <style>
     
      .container {
        border: 1px solid black;
        padding: 5px;
      }
      
      @page {
            size: A6;
            margin: 5px;
            } 
    </style>
</head>
<body>
  
  <div class="container">
    <div class="row">
      <table>
        <tr>
          <td>sec 7 rules 8</td>
          <td>Pawn Ticket</td>
          <td>Pbl no</td>
        </tr>
      </table>
    </div>
    

    <div class="row">
      <div class="header " style="text-align: center">
        <p>
          J Champalal Pawn Brokers<br>
          No,57, Lathif Sahib St,<br>
          Chinna Allapuram,vellore-632001 <br>
          04162232436 <br></p>
      </div>
    </div>
    <div class="row" >
      <table >
        <tr>
          <td><div class="customer">
            <p>
              {{loan.customer}} <br>
              {{loan.customer.address}}<br>
              {{loan.customer.area}}
            </p>
          </div></td>
  
          <td><div class="loan">
            <p>
              Loan Id : {{loan.lid}} <br>
              Date: {{loan.created|date}}<br>
              Amount: {{loan.loanamount}}<br>
            </p>
          </div></td>
          
        </tr>
      </table>  
    </div>
    
    <div class="row" >
      <label for="items">Items</label>
      <div class="div">
        <table>
          <tbody>
            <tr>
              <td>{{loan.itemdesc}}</td>
              <td>{{loan.itemweight}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="row">
      <div>
        I hereby accept terms and conditions listed below
      </div>
      <table>
        <div class="tbody">
          <tr>
            <td>
              <p>o.sign</p>
            </td>
            <td>
              <p>c.sign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>r.sign</p>
            </td>
          </tr>
        </div>
      </table>
    </div>
    
    <div class="row" >
      <p>
        Terms & conditions <br>
        1 <br>
        2 <br>
        
      </p> 
    </div>
  </div>
    
</body>
</html>
