{% extends "_base.html"%}
{% load crispy_forms_tags%}
{{form.media}}
{% block content %}
<div id="loan-content">
    {% if last_loan%}
    {{last_loan}}
    {%endif%}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Create Loan</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a class="btn btn-primary" href="{% url 'girvi:girvi_loan_list' %}"
            role="button">Loan List</a>
          </div>
        </div>
      </div>

     <div id="form">
      <form action="." method ="post" class="modal-content">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Add Loan</h5>
        </div>
        <div class="modal-body">
            {% crispy form%}     
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
      </div>
</div>

{% endblock %}

