{% extends "_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="table-responsive">
<div class="table table-sm table-bordered table-hover">
<form method="post" action="{% url 'manage_loans'%}">

    {{ formset.management_form }}
      {% for form in formset %}
      {% csrf_token %}
    <table class="table table-sm table-striped">
      {%if forloop.first%}
      <thead class="thead-dark">
        <tr>
           {% for field in form.visible_fields %}
           <th>{{field.label}}</th>
           {%endfor%}
        </tr>
      </thead>
          {% endif %}
      <tbody>
      <tr class="inline {{bulkloan_form.prefix}}">
        {% for field in form.visible_fields %}
        <td class="{{field.name}}" >
            <!-- {{ field.errors.as_ul }} -->
            {% bootstrap_field field show_label=False size="small"%}
          </td>
          {% endfor %}
        </tr>
  </tbody>
</table>

      {% endfor %}
       <button class="btn btn-primary" type="submit">Save Loan</button>
</form>
</div>
</div>
<script type="text/javascript">
$(".inline.{{ bulkloan_form.prefix }}").formset({
  prefix: "{{ bulkloan_form.prefix }}",
  //formTemplate: $("#formset-template").clone(),
  // initialize newly created heavy fields on the added callback
  added: function ($row) {

     $row.find('.delete-row').addClass('btn-sm btn-danger');
  },

})

$('.add-row').addClass('btn-sm btn-success');
$('.delete-row').addClass('btn-sm btn-danger');
</script>
{%endblock%}
