{% extends "_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="table-responsive">
<div class="table table-sm table-bordered table-hover">
<form method="post" action="{% url 'manage_loans'%}">
  {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
          <tr>{% for field in form %}
            <td>  {% bootstrap_field field size="small"%}</td>
          {% endfor %}</tr>
        {% endfor %}
    </table>
       <button class="btn btn-primary" type="submit">Save Invoice</button>
</form>
</div>
</div>
{%endblock%}
