{%extends "_base.html"%}
{%load static%}
{%load django_tables2%}
{%block content%}
<div class="">
    <p>
        <h1>Notice Group : {{object.name}}</h1><br/>
        <h3>Date From:{{object.date_range.lower}} To:{{object.date_range.upper}}</h3>
    </p>
    <div class="">
        <ul class="list-group">
            {%for i in object.noticeitems%}
            <li class="list-group-item">
                <input type="checkbox" name="selected" id="">{{i}} <button>Delete</button>
            </li>
            {%endfor%}
        </ul>
        <p>{{loans.count}} loans selected in this group to send notice</p>
    </div>

</div>
{%endblock%}