{% extends "_base.html" %}
{%load humanize%}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center mb-5">
  <form class="form-inline" method="GET">
  <!-- <label class="sr-only" for="inlineFormInputName2">Customer</label>
  <input type="text" name='qcust' class="form-control mr-2" id="inlineFormInputName2" placeholder="Customer Name"> -->
  <label class="sr-only" for="inlineFormInputName2">Years Back</label>
  <input type="text" name='qyr' class="form-control mr-2" id="inlineFormInputName2" placeholder="years old">
  <button type="submit" class="btn btn-primary ">Submit</button>
  </form>
</div>
<div class = "card mb-3">
<ul class="list-group">
  <li class="list-group-item">Total customers with outdated Loans : {{data.cust.count}}</li>
  <li class="list-group-item">Total outdated Loans : {{data.totalamount.loancount}}</li>
  <li class="list-group-item">Total Loan Amount : {{data.totalamount.t}}</li>
<ul>
</div>
<div class="card-columns">
  {%for i in data.cust%}
  <div class="card border-danger">
    <div class="card-body">
      <h5 class="card-title">{{i}}</h5>
      <p class="card-text">
        No of loans :{{i.loan_set.count}}
        Total Amount :{{i.t}}
        <ul class="list-group">
          {%for l in i.loan_set.all%}
          <li class="list-group-item">{{l}}</li>
          {%endfor%}
        </ul>
      </p>
    </div>
  </div>
  {%endfor%}
</div>



{% endblock%}
