{% extends "_base.html" %}
{% load static %}
{%load django_tables2%}
{%load bootstrap4%}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Release</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
     <a class="btn btn-primary" href="{% url 'girvi_release_create' %}" role="button">New Release</a>
     <a class="btn btn-primary ml-2" href="{% url 'girvi_release_list' %}" role="button">Release List</a>
     <a class="btn btn-primary ml-2" href="{% export_url "ods" %}" role="button">export</a>

    </div>
  </div>
</div>

{% include 'table.html'%}

{% endblock %}
