{% extends "_base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'girvi_release_list' %}">Release Listing</a>
  <a class="btn btn-primary" href="{% url 'girvi_release_delete' release.id %}">Delete</a></p>
<table class="table">
<tr><td>releaseid</td><td>{{ object.releaseid }}</td></tr>
<tr><td>loanid</td><td><a href = "{% url 'girvi_loan_detail' object.loan.id%}">{{object.loan}}</a></td></tr>
<tr><td>loandate</td><td>{{ object.loan.created }}</td></tr>
<tr><td>customer</td><td><a href="{% url 'contact_customer_detail' object.loan.customer.id %}">{{ object.loan.customer}}</a></td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>interestpaid</td><td>{{ object.interestpaid }}</td></tr>
<tr>
  <td>
    Posted
  </td>
  <td>
    {%if object.posted %}
    <button class="btn btn-success" href="{% url 'girvi_release_post' object.id%}"></button>
    {%else %}
    <button class="btn btn-success" href="{% url 'girvi_release_unpost' object.id%}"></button>
  </td>
</tr>
</table>

{% endblock %}
