
{%load crispy_forms_tags%}
{{form.media}}

    <form action='.' method="POST" 
            hx-post='.' hx-swap='outerHTML' 
            hx-trigger='{% if form.instance.id %}change delay:100ms,{% endif %} submit'>
       {% csrf_token %}        
       {{form|crispy}}
        
       {% if object%}
        <p>
            Loan Amount : {{object.loanamount}}
            Item Weight: {{object.itemweight}}
            Interest : {{object.interest}}

        {%endif%}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
            <input class = "btn btn-success"type = "submit" name="submit">
    </form>

