{%load django_tables2%}
<div class="row">
    <div class="col-sm-3" id="filter">
      {% include "girvi/partials/loan_filter.html"%}
    </div>
    <div class="col-sm-9" >
      <div>
        <form class="form-inline" action="{% url 'girvi-multirelease'%}" method="POST">
          {% csrf_token %}
          <div class="input-group mb-2 mr-sm-2">
            <label class="form-check-label" for="inlineFormCheck">Action : </label>
            <select class="form-control ml-2" name="action">
              <option value="edit">Edit</option>
              <option value="delete">Delete</option>
              <option value="release">Release</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Go</button>
        </form>
        <p>
          Results :{{page_obj.paginator.count}}
        </p>
      </div>  
      <div id="table">
        {% include "table1.html"%}
      </div>
    </div>
    
</div>
