
{%load crispy_forms_tags%}
{{form.media}}

    <form action='.' method="POST" 
            hx-post='.' hx-swap='outerHTML' 
            hx-trigger='{% if form.instance.id %}change delay:500ms,{% endif %} submit'>
       {% csrf_token %}        
       {{form|crispy}}
        
       {% if object%}
        <p>
            gross_wt : {{object.gross_wt}}
            Nett_wt: {{object.net_wt}}
            Balance : {{object.balance}}

            {%endif%}
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
            <input type = "submit" name="submit">
    </form>

