[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.0"
django-allauth = "*"
django-crispy-forms = "*"
psycopg2 = "*"
django-import-export = "*"
django-rest-framework = "*"
django-mptt = "*"
django-filter = "*"
django-tables2 = "*"
django-sql-explorer = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-phonenumber-field = "*"
django-widget-tweaks = "*"
django-extensions = "*"
python-magic = "*"
django-measurement = "*"
num2words = "*"
python-dateutil = "*"
xhtml2pdf = "*"
werkzeug = "*"
gunicorn = "*"
redis = "*"
gevent = "*"
django-activity-stream = "*"
django-versatileimagefield = "*"
django-bootstrap4 = "*"
celery = "==5.0.5"
django-money = "*"
qrcode = "*"
crispy-bootstrap5 = "*"
django-guardian = "*"
python-magic-bin = "==0.4.14"
django-autocomplete-light = "*"
django-select2 = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.10"
