[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-select2 = "*"
psycopg2 = "*"
django-import-export = "*"
django-rest-framework = "*"
django-mptt = "*"
django-filter = "*"
django-tables2 = "*"
django-sql-explorer = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-phonenumber-field = "*"
django-widget-tweaks = "*"
django-tempus-dominus = "*"
django-extensions = "*"
python-magic = "*"
django-measurement = "*"
num2words = "*"
python-dateutil = "*"
xhtml2pdf = "*"
werkzeug = "*"
gunicorn = "*"
redis = "*"
gevent = "*"
django-activity-stream = "*"
django-versatileimagefield = "*"
django-bootstrap4 = "*"
celery = "==5.0.5"
django-money = "*"
qrcode = "*"
pymaging = {editable = true, git = "git://github.com/ojii/pymaging.git"}
pymaging-png = {editable = true, git = "git://github.com/ojii/pymaging-png.git"}
crispy-bootstrap5 = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.9.5"
