[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-tables2 = "*"
django-allauth = "*"
django-htmx = "*"
django-widget-tweaks = "*"
django-celery-beat = "*"
celery = "*"
django-celery-results = "*"
django-phonenumber-field = "*"
django-crispy-forms = "*"
django-mptt = "*"
django-rest-framework = "*"
django-import-export = "*"
django-versatileimagefield = "*"
django-environ = "*"
django-select2 = "*"
crispy-bootstrap5 = "*"
django-money = "*"
psycopg2 = "*"
django-extensions = "*"
phonenumbers = "*"
python-magic-bin = "==0.4.14"
django-measurement = "*"
qrcode = "*"
twilio = "*"
django-render-block = "*"
reportlab = "*"
num2words = "*"
isort = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
