autopep8==1.4.3
Babel==2.5.1
bleach==3.0.2
cairocffi==0.9.0
CairoSVG==2.1.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cssselect==1.0.3
cssselect2==0.2.1
defusedxml==0.5.0
diff-match-patch==20121119
dj-database-url==0.5.0
Django==2.1.7
django-allauth==0.38.0
django-appconf==1.0.2
django-autocomplete-light==3.3.0
django-babel==0.6.2
django-bootstrap4==0.0.7
django-braces==1.13.0
django-controlcenter==0.2.8
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-environ==0.4.5
django-extensions==2.1.2
django-extra-views==0.11.0
django-filter==2.0.0
django-hordak==1.8.1
django-import-export==1.1.0
django-js-asset==1.1.0
django-material==1.4.3
django-measurement==3.1.1
django-model-utils==3.1.2
django-money==0.14.3
django-mptt==0.9.1
django-phonenumber-field==2.0.1
django-pkgconf==0.3.0
django-prices==1.0.4
django-select2==6.3.1
django-smalluuid==1.1.1
django-sql-explorer==1.1.2
django-tables2==2.0.3
django-tempus-dominus==5.1.2.1
django-tenant-schemas==1.9.0
django-versatileimagefield==1.10
django-widget-tweaks==1.4.3
djangorestframework==3.8.2
et-xmlfile==1.0.1
filelock==3.0.10
gprof2dot==2016.10.13
html5lib==1.0.1
idna==2.7
jdcal==1.4
Jinja2==2.10
lxml==4.2.5
Markdown==2.6.11
MarkupSafe==1.1.0
measurement==2.0.1
mpmath==1.0.0
num2words==0.5.7
oauthlib==2.1.0
odfpy==1.3.6
openpyxl==2.5.6
pdfrw==0.4
phonenumbers==8.9.15
Pillow==5.2.0
pluggy==0.8.0
Pmw==2.0.0
preppy==2.6.0
prices==1.0.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
py==1.7.0
py-moneyed==0.7.0
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.3.1
PyJWT==1.6.4
PyPDF2==1.26.0
Pyphen==0.9.5
pyRXP==2.1.2
PySocks==1.6.8
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2018.5
pyyaml>=4.2b1
reportlab==3.5.8
requests==2.20.1
requests-oauthlib==1.0.0
rlextra==3.5.7
six==1.11.0
smalluuid==1.0.0
sqlparse==0.2.4
sympy==1.3
tablib==0.12.1
tinycss==0.3
tinycss2==0.6.1
toml==0.10.0
tox==3.6.1
twilio==6.19.1
typing==3.6.6
unicodecsv==0.14.1
urllib3==1.23
virtualenv==16.2.0
WeasyPrint==0.42.3
webencodings==0.5.1
xhtml2pdf==0.2.3
xlrd==1.1.0
xlwt==1.3.0
