argon2-cffi==18.1.0
arrow==0.13.1
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
autopep8==1.4.3
Babel==2.6.0
backcall==0.1.0
binaryornot==0.4.4
bleach==3.0.2
cairocffi==0.9.0
CairoSVG==2.1.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
cookiecutter==1.6.0
cryptography==2.5
cssselect==1.0.3
cssselect2==0.2.1
decorator==4.3.2
defusedxml==0.5.0
diff-match-patch==20121119
dj-database-url==0.5.0
Django==2.1.7
django-allauth==0.38.0
django-appconf==1.0.2
django-autocomplete-light==3.3.0
django-babel==0.6.2
django-bootstrap4==0.0.7
django-braces==1.13.0
django-controlcenter==0.2.9
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-dynamic-scraper==0.13.2
django-environ==0.4.5
django-extensions==2.1.5
django-extra-views==0.11.0
django-filter==2.1.0
django-hordak==1.8.3
django-import-export==1.2.0
django-js-asset==1.1.0
django-material==1.5.0
django-measurement==3.1.1
django-model-utils==3.1.2
django-money==0.14.3
django-mptt==0.9.1
django-phonenumber-field==2.0.1
django-pkgconf==0.3.0
django-prices==1.0.4
django-select2==6.3.1
django-smalluuid==1.1.1
django-sql-explorer==1.1.2
django-tables2==2.0.5
django-tempus-dominus==5.1.2.2
django-tenant-schemas==1.9.0
django-versatileimagefield==1.10
django-widget-tweaks==1.4.3
djangorestframework==3.9.1
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.10
future==0.17.1
gprof2dot==2016.10.13
html5lib==1.0.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jdcal==1.4
jedi==0.13.3
Jinja2==2.10
jinja2-time==0.2.0
jsonpath-rw==1.4.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.1.0
measurement==2.0.1
mistune==0.8.4
mpmath==1.0.0
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.4
num2words==0.5.7
numpy==1.16.1
oauthlib==3.0.1
odfpy==1.3.6
openpyxl==2.5.6
pandas==0.24.1
pandocfilters==1.4.2
parsel==1.5.1
parso==0.3.4
pdfrw==0.4
phonenumbers==8.9.15
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.8.0
ply==3.11
Pmw==2.0.0
poyo==0.4.2
preppy==2.6.0
prices==1.0.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psycopg2==2.7.7
psycopg2-binary==2.7.5
py==1.7.0
py-moneyed==0.7.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
pydot==1.4.1
Pygments==2.3.1
PyHamcrest==1.9.0
PyJWT==1.6.4
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyPDF2==1.26.0
Pyphen==0.9.5
pypiwin32==223
pyrsistent==0.14.11
pyRXP==2.1.2
PySocks==1.6.8
python-dateutil==2.8.0
python-memcached==1.59
python3-openid==3.1.0
pytz==2018.9
pywin32==224
pywinpty==0.5.5
pyzmq==18.0.0
qtconsole==4.4.3
queuelib==1.5.0
reportlab==3.5.13
requests==2.21.0
requests-oauthlib==1.2.0
rlextra==3.5.7
scikit-learn==0.20.3
scipy==1.2.1
Scrapy==1.6.0
scrapy-djangoitem==1.1.1
scrapy-splash==0.7.2
Send2Trash==1.5.0
service-identity==18.1.0
six==1.12.0
smalluuid==1.0.0
sqlparse==0.2.4
sympy==1.3
tablib==0.12.1
terminado==0.8.1
testpath==0.4.2
tinycss==0.3
tinycss2==0.6.1
toml==0.10.0
tornado==6.0.1
tox==3.6.1
traitlets==4.3.2
twilio==6.19.1
Twisted==18.9.0
typing==3.6.6
unicodecsv==0.14.1
urllib3==1.24.1
virtualenv==16.4.0
w3lib==1.20.0
wcwidth==0.1.7
WeasyPrint==45
webencodings==0.5.1
Werkzeug==0.15.3
whichcraft==0.5.2
widgetsnbextension==3.4.2
xhtml2pdf==0.2.3
xlrd==1.2.0
xlwt==1.3.0
zope.interface==4.6.0
