{% extends '_base.html' %}

{% block title %}Account List{% endblock %}

{% block content %}
<h1>Accounts</h1>
<h2> create Account</h2>
<table class = "table table-sm">
    <thead>
        <tr>
            <th>Account</th>
            <th>Type</th>
            <th>Entity</th>
            <th>Balance</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in object_list%}
        <tr>
            <td><a href="{% url 'dea_account_detail' i.id %}">{{i.contact}}</a></td>
            <td>{{i.AccountType_Ext}}</td>
            <td>{{i.entity}}</td>
            <td>{{i.current_balance}}</td>
            <td>
                <a class = "btn btn-info" href="">Edit</a>
                <a class="btn btn-danger" href="">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}