{% extends '_base.html' %}
{% block title %}General Ledger{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h1>General Ledger</h1>
<div>
    <table class ="table table-sm table-hover table-striped">
        <thead>
            <th>Id</th>
            <th>Created</th>
            <th>Debit Ledger</th>
            <th>Credit Ledger</th>
            <th>Amount</th>
            <th>Journal</th>
        </thead>
        <tbody>
            {%for i in data.lt%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.created}}</td>
                <td><a href="{% url 'dea_ledger_detail' i.ledgerno_dr.id%}">{{i.ledgerno_dr.name}}</a></td>
                <td><a href="{% url 'dea_ledger_detail' i.ledgerno.id%}">{{i.ledgerno.name}}</a></td>
                <td>{{i.amount}}</td>
                <td><a href="{{i.journal_entry.journal.get_absolute_url}}">{{i.journal_entry.journal}}</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
        </div>
    </div>
</div>
{% endblock%}