{% extends '_base.html' %}
{% load mptt_tags %}
{% block title %}DEA{% endblock %}

{% block content %}
<h1>Chart Of Accounts</h1>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="internal-tab" data-toggle="tab" href="#internal" role="tab" aria-controls="Internal"
            aria-selected="true">Ledger</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="external-tab" data-toggle="tab" href="#external" role="tab" aria-controls="External"
            aria-selected="false">Accounts</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="journal-tab" data-toggle="tab" href="#journal" role="tab" aria-controls="Journal"
            aria-selected="false">Journal</a>
    </li>
</ul>
<div class="tab-content p-3" id="myTabContent">
    <div class="tab-pane fade show active" id="internal" role="tabpanel" aria-labelledby="home-internal">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-success" href="{% url 'dea_ledger_create' %}">Add Ledger</button>
            <button type="button" class="btn btn-outline-primary" href="{% url 'dea_account_create' %}">Add txn</button>
            <button type="button" class="btn btn-outline-info" href="{% url 'dea_account_create' %}">Audit</button>
        </div>
      
        <ul class="list-group list-group-flush p-3">
            {% recursetree data.ledger %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'dea_ledger_detail' node.id%}">{{ node.name }}</a>
                {{node.current_balance}}
                {% if not node.is_leaf_node %}
                <ul class="list-group children">
                    {{ children }}
                </ul>
                
                {% endif %}
            </li>
            
            {% endrecursetree %}
        </ul>
    </div>
    <div class="tab-pane fade" id="external" role="tabpanel" aria-labelledby="profile-external">
        <a class = "btn btn-primary" href="{% url 'dea_account_create' %}">Add Account</a>
        <a class="btn btn-primary" href="{% url 'dea_account_create' %}">Audit all</a>
        <div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Type</th>
                        <th>Enitity</th>
                        <th>Balance</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data.accounts%}
                    <tr>
                        <td><a href="{% url 'dea_account_detail' i.id%}">{{i.contact.name}}</a></td>
                        <td>{{i.AccountType_Ext}}</td>
                        <td>{{i.entity}}</td>
                        <td>{{i.current_balance}}</td>
                        <td>
                            <a class="btn btn-info" href="">Edit</a>
                            <a class="btn btn-danger" href="">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="tab-pane fade" id="journal" role ="tabpanel" aria-labelledby="journal">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>created</th>
                    <th>txn-type</th>
                    <th>doc</th>
                    <th>Ledger-txns</th>
                    <th>A/c txns</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data.journal %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.created}}</td>
                    <td>{{i.desc}}</td>
                    <td>
                        {%if i.content_type %}
                        <a href="{% url ''|add:i.get_url_string pk=i.object_id %}">{{i.content_type.app_label}}{{i.content_type.model}}{{i.content_object}}</a>
                        {%else%}
                        None
                        {%endif%}
                    </td>
                    <td>
                        <ul>
                            {%for j in i.ledgertransaction_set.all%}
                            <li> Dr:{{j.ledgerno_dr}} Cr:{{j.ledgerno}} RS:{{j.amount}}</li>
                            {%endfor%}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {%for j in i.accounttransaction_set.all%}
                            <li>
                                Dr:{{j.ledgerno}} Cr:{{j.Account}} RS:{{j.amount}}
                            </li>  
                            {%endfor%}

                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
