{% extends '_base.html' %}
{% load mptt_tags %}
{% block title %}DEA{% endblock %}

{% block content %}
<h1>Chart Of Accounts</h1>
<ul class="nav navtabs">
    <li class="nav-item">
        <a hx-get="{% url 'dea_home' %}" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a hx-get="{% url 'dea_ledger_list' %}" class="nav-link">Ledgers</a>
    </li>
    <li class="nav-item">
        <a hx-get="% url 'dea_general_ledger' %}" class="nav-link">General Ledger</a>
    </li>
    <li class="nav-item">
        <a hx-get="{% url 'dea_ledgerstatement_list'%}" class="nav-link">Ledger Statement</a>
    </li>
    <li class="nav-item">
        <a hx-get="{% url 'dea_account_list' %}" class="nav-link">Accounts</a>
    </li>
    <li class="nav-item">
        <a hx-get="{% url 'dea_accountstatement_list' %}" class="nav-link">Account Statement</a>
    </li>
    <li class="nav-item">
        <a hx-get="{% url 'dea_journals_list' %}" class="nav-link">Journals</a>
    </li>
    <li class="nav-item">
        <a hx-get="{% url 'dea_daybook' %}" class="nav-link">Daybook</a>
    </li>
</ul>
<div class="" id="dea-content"></div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="internal-tab" data-toggle="tab" hx-get="#internal" role="tab" aria-controls="Internal"
            aria-selected="true">Ledgers</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="external-tab" data-toggle="tab" hx-get="#external" role="tab" aria-controls="External"
            aria-selected="false">Balancesheet</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="journal-tab" data-toggle="tab" hx-get="#journal" role="tab" aria-controls="Journal"
            aria-selected="false">Profit and loss</a>
    </li>
</ul>
<div class="tab-content p-3" id="myTabContent">
    <div class="tab-pane fade show active" id="internal" role="tabpanel" aria-labelledby="home-internal">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-success" hx-get="{% url 'dea_ledger_create' %}">Add Ledger</button>
            <button type="button" class="btn btn-outline-primary" hx-get="{% url 'dea_account_create' %}">Add txn</button>
            <a  class="btn btn-outline-info" hx-get="{% url 'dea_ledger_audit' %}">Audit</a>
        </div>
      
        <table class = "table table-sm table-hover">
            <thead>
                <th>Account Type</th>
                <th>Ledger</th>
                <th> statement Date</th>
                <th> Prev Balance</th>
                <th> Debit </th>
                <th> Credit </th>
                <th> Curr Bal </th>
            </thead>
            <tbody>
                {%for i in data.ledger%}
                <tr>
                    <td>{{i.AccountType}}</td>
                    <td><a hx-get="{% url 'dea_ledger_detail' i.ledgerno_id %}">{{ i.name }}</a></td>
                    <td>{{i.created}}</td>
                    <td>{{i.get_cb}}</td>
                    <td>{{i.get_dr}}</td>
                    <td>{{i.get_cr}}</td>
                    <td>{{i.get_currbal}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
            
    </div>
    <div class="tab-pane fade" id="external" role="tabpanel" aria-labelledby="profile-external">
       <div class="row">
           <div class="col-6">
                <ul class="list-group list-group-flush">
                    {%for i in data.balancesheet.assets%}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{i.name}} 
                        <span>{{i.get_currbal}}</span>
                    </li>
                    {%endfor%}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Total :<span>{{data.ta}}</span>
                    </li>
                </ul>
                
           </div>
           <div class="col-6">
                <ul class="list-group list-group-flush">
                {%for i in data.balancesheet.liabilities%}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{i.name}} 
                    <span>{{i.get_currbal}}</span>
                </li>
                {%endfor%} 
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total :<span>{{data.tl}}</span>
                </li>
                </ul>
                
           </div>
       </div>
        
    </div>
    <div class="tab-pane fade" id="journal" role ="tabpanel" aria-labelledby="journal">
        <div class="row">
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    {%for i in data.pnloss.income%}
                    <li class="list-group-item d-flex justify-content-between align-items-center" >
                        {{i.name}}
                        <span>{{i.get_currbal}}</span> 
                    </li>
                    {%endfor%}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Total: <span>{{data.ti}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    {%for i in data.pnloss.expense%}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{i.name}} 
                        Total :<span>{{i.get_currbal}}</span>
                    </li>
                    {%endfor%}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Total: <span>{{data.te}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
