{% extends '_base.html' %}
{% load mptt_tags %}
{% block title %}Ledger List{% endblock %}

{% block content %}
<h1>Ledger</h1>

<div class="btn-group" role="group" aria-label="Basic outlined example">
    <a type="button" class="btn btn-outline-success" href="{% url 'dea_ledger_create' %}">Add Ledger</a>
    <a type="button" class="btn btn-outline-primary" href="{% url 'dea_account_create' %}">Add txn</a>
    <a type="button" class="btn btn-outline-info" href="{% url 'dea_ledger_audit' %}">Audit</a>
</div>
<div class="row">
    <div class="col">
        {% full_tree_for_model dea.Ledger as node %}
        <ul class="list-group list-group-flush p-3 root">
            {% recursetree node %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{node.AccountType}}
                <a href="{% url 'dea_ledger_detail' node.id%}">
                    {{ node.name }}
                </a>
                {{node.current_balance_wrt_descendants}}
                {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ul>
    </div>
    
</div>

{% endblock %}