{% extends '_base.html' %}

{% block title %}Acount detail{% endblock %}

{% block content %}
<h1 class="display-6">{{object}} Details</h1>
<div class="card">
    <div class="card-body">
        <figure class="text-center">
            Opening Bal: {{ object.ledgerstatement_set.latest.get_cb}} |
            <a href="{% url 'dea_ledger_setob' object.id%}">Set Op Bal</a><br>
            From : {{object.ledgerstatement_set.latest.created|date}}
            To : {% now "jS F Y H:i" %}
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 p-3">
        <div class="card border-success">
            <div class="card-header">
                <h5 class="card-title text-center">Debit</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for i in object.dtxns%}
                    <li class="list-group-item">{{i.created|date}} From: {{i.ledgerno_dr}} to: {{i.ledgerno}} {{i.amount}}</li>
                    {%endfor%}
                </ul>
                
                <a href="#" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 p-3">
        <div class="card border-danger">
            <div class="card-header text-center">
                <h5 class="card-title">Credit </h5>
            </div>
            <div class="card-body">     
                <ul class="list-group list-group-flush">
                    {% for i in object.ctxns%}
                    <li class ="list-group-item">{{i.created|date}}To: {{i.ledgerno_dr}} From: {{i.ledgerno}}{{i.amount}}</li>
                    {%endfor%}
                </ul>
                <a href="#" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
</div>
<div class="card text-right">
    <div class="card-body">
        Closing Bal: {{object.current_balance}}
        <a class="btn btn-info" href="{% url 'dea_ledger_audit' object.id%}">Audit</a>
    </div>
</div>

{% endblock %}
