{% extends '_base.html' %}
{% block title %}Dashboard page{% endblock %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    {%if user.is_superuser%}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>

  <!-- Content Row -->
  <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              Active Customers</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {%for i in customer_count%}
                            {{i.customer_type}}:{{i.count}}
                            {%endfor%}</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Interest Due</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                           {{total_interest.total}}
                          </div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-5 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Assets:  {{loan_count}}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <table class="table table-sm">
                                <thead>
                                    <th></th>
                                    <th>Gold</th>
                                    <th>Silver</th>
                                    <th>Bronze</th>
                                    <th>Total</th>
                                </thead>
                                <tbody>
                                    <tr><td>Weight</td><td>{{weight.gold}}</td><td>{{weight.silver}}</td><td>{{weight.bronze}}</td><td></td></tr>
                                    <tr><td>Pure</td><td>{{pure_weight.gold}}</td><td>{{pure_weight.silver}}</td><td>{{pure_weight.bronze}}</td><td></td></tr>
                                    <tr><td>Loan Amt</td><td>{{assets.gold_loanamount}}</td><td>{{assets.silver_loanamount}}</td><td>{{assets.bronze_loanamount}}</td><td>{{total_loan_amount.total}}</td></tr>
                                    <tr><td>Value</td><td>{{itemwise_value.gold}}</td><td>{{itemwise_value.silver}}</td><td></td><td>{{current_value.total}}</td></tr>
                                </tbody>
                                <tbody>

                                </tbody>
                            </table>
                         
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                           Sunken :{{sunken.loan_count}}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <table class="table table-sm">
                                <thead>
                                    <th></th>
                                    <th>Gold</th>
                                    <th>Silver</th>
                                    <th>Bronze</th>
                                    <th>Total</th>
                                </thead>
                                <tbody>
                                    <tr><td>Weight</td><td>{{sunken.weight.gold}}</td><td>{{sunken.weight.silver}}</td><td>{{sunken.weight.bronze}}</td><td></td></tr>
                                    <tr><td>Pure</td><td>{{sunken.pure_weight.gold}}</td><td>{{sunken.pure_weight.silver}}</td><td>{{sunken.pure_weight.bronze}}</td><td></td></tr>
                                    <tr><td>Loan Amt</td><td>{{sunken.assets.gold_loanamount}}</td><td>{{sunken.assets.silver_loanamount}}</td><td>{{sunken.assets.bronze_loanamount}}</td><td>{{sunken.total_loan_amount.total}}</td></tr>
                                    <tr><td>Value</td><td>{{sunken.itemwise_value.gold}}</td><td>{{subken.itemwise_value.silver}}</td><td></td><td>{{sunken.current_value.total}}</td></tr>
                                </tbody>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Assets value</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                         {{current_value}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Loans
                          </div>
                          <div class="row no-gutters align-items-center">
                              <div class="col-auto">
                                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{loan_progress}}%</div>
                              </div>
                              <div class="col">
                                  <div class="progress progress-sm mr-2">
                                      <div class="progress-bar bg-info" role="progressbar"
                                          style="width: {{loan_progress}}%" aria-valuenow="{{loan_progress}}" aria-valuemin="0"
                                          aria-valuemax="100"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              Pending Requests</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-comments fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Content Row -->

  <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                  <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                          aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                  <div class="chart-area">
                      <canvas id="myAreaChart"></canvas>
                  </div>
              </div>
          </div>
      </div>

      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                  <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                          aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                      <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                      <span class="mr-2">
                          <i class="fas fa-circle text-primary"></i> Direct
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-success"></i> Social
                      </span>
                      <span class="mr-2">
                          <i class="fas fa-circle text-info"></i> Referral
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Content Row -->
  <div class="row">

      <!-- Content Column -->
      <div class="col-lg-6 mb-4">

          <!-- Project Card Example -->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
              </div>
              <div class="card-body">
                  <h4 class="small font-weight-bold">Server Migration <span
                          class="float-right">20%</span></h4>
                  <div class="progress mb-4">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                          aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Sales Tracking <span
                          class="float-right">40%</span></h4>
                  <div class="progress mb-4">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Customer Database <span
                          class="float-right">60%</span></h4>
                  <div class="progress mb-4">
                      <div class="progress-bar" role="progressbar" style="width: 60%"
                          aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Payout Details <span
                          class="float-right">80%</span></h4>
                  <div class="progress mb-4">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                          aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Account Setup <span
                          class="float-right">Complete!</span></h4>
                  <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
          </div>

          <!-- Color System -->
          <div class="row">
              <div class="col-lg-6 mb-4">
                  <div class="card bg-primary text-white shadow">
                      <div class="card-body">
                          Due amount:
                          <div class="text-white-50 small">
                            {{due_amount}}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                      <div class="card-body">
                          Total Weight:
                          <div class="text-white-50 small">
                            {{total_weight}}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                      <div class="card-body">
                          Current Value:
                          <div class="text-white-50 small">
                            {{current_value}}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-4">
                  <div class="card bg-warning text-white shadow">
                      <div class="card-body">
                          Interest:
                          <div class="text-white-50 small">
                            {{total_interest}}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-4">
                  <div class="card bg-danger text-white shadow">
                      <div class="card-body">
                          Sunken
                          <div class="text-white-50 small">
                            count:{{is_overdue.count}} total:{{sunken_total}}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-4">
                  <div class="card bg-secondary text-white shadow">
                      <div class="card-body">
                          Secondary
                          <div class="text-white-50 small">#858796</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-4">
                  <div class="card bg-light text-black shadow">
                      <div class="card-body">
                          Light
                          <div class="text-black-50 small">#f8f9fc</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-4">
                  <div class="card bg-dark text-white shadow">
                      <div class="card-body">
                          Dark
                          <div class="text-white-50 small">#5a5c69</div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

      <div class="col-lg-6 mb-4">

          <!-- Illustrations -->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
              </div>
              <div class="card-body">
                  <div class="text-center">
                      
                  </div>
                  <p>Add some quality, svg illustrations to your project courtesy of <a
                          target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                      constantly updated collection of beautiful svg images that you can use
                      completely free and without attribution!</p>
                  <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                      unDraw &rarr;</a>
              </div>
          </div>

          <!-- Approach -->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
              </div>
              <div class="card-body">
                  
                  <p class="mb-0">
                    <table class = "table table-sm table-bordered">
                      <thead>
                          <th>Metrics</th>
                          <th>Purchase</th>
                          <th>Sales</th>
                          <th>remaining</th>
                      </thead>
                      <tbody> 
                          <tr>
                              <td>Total Metal Balance</td>
                              <td>Bal:{{total_pbal.bal}} </td>
                              <td>Bal:{{total_sbal.bal}} </td>  
                              <td>{{pbal}}</td> 
                          </tr>
                         
                          <tr>
                              <td>Total Cash Balance</td>
                              <td>Bal:{{total_pbal_ratecut.bal}} | net_wt:{{total_pbal_ratecut.net_wt}} </td>
                              <td>Bal:{{total_sbal_ratecut.bal}} | net_wt:{{total_sbal_ratecut.net_wt}} </td>
                              <td>{{sbal}}|{{remaining_net_wt}}</td>
                          </tr>
                          <tr>
                              <td>Moving Average for ratecut</td>
                              <td>{{p_map}}</td>
                              <td>{{p_map}}</td>
                              
                          </tr>
                          
                      </tbody>
                  </table>
                  <div class="card">
                      <div class="card-body">
                          Buy []@[]
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-body">
                          sell []@[]
                      </div>
                  </div>
                  </p>
              </div>
          </div>

      </div>
  </div>
  {%else%}
  <h1> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock2" viewBox="0 0 16 16">
    <path d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z"/>
    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
  </svg> You are not authorized to view this page.contact admin</h1>
  {%endif%}

</div>
{% endblock content %}