{%extends "_base.html"%}
{%load static%}
{%block content%}
<div class="" id="noticegroup_list">
    <h2>NoticeGroup List : {{items.count}}</h2><br/>
    <a class="btn btn-success" href="{% url 'notify_noticegroup_create'%}">Create New</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr><th>Id</th><th>Name</th><th>Items</th><th>Actions</th></tr>
            </thead>
            <tbody class="table-group-divider">
                {%for i in objects%}
                <tr>
                    <td>{{i.id}}</td>
                    <td><a href="{% url 'notify_noticegroup_detail' i.id%}">{{i}}</a></td>
                    <td>{{i.notification_set.all.count}}</td>
                    <td><button>Edit</button><button>Delete</button></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
  
</div>
{%endblock%}