{% extends "_base.html" %}
{% load static %}
{% block content %}
{% load mptt_tags %}

<p>
  <a class="btn btn-default" href="{% url 'approval_approvallinereturn_list' %}">ApprovalLine Return Listing</a>
  <a class="btn btn-primary" href="{% url 'approvallinereturn' %}">Create new ApprovalLine return</a>
</p>

<table class="table">
  <tr>
      <td>Approval</td>
      <td>Return ID</td>
      <td>created</td>
      <td>Customer</td>
      <td>quantity</td>
      <td>weight</td>
      <td>Status</td>
      <td>Action</td>
  </tr>
{% for object in object_list %}
<tr>
    <td>{{object.line.approval}}|{{object.line.approval.created_at}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object.id}}</a></td>
    <td>{{ object.created_at }}</td>
    <td>{{object.line.approval.contact}}</td>
    <td>{{ object.line.quantity }}({{object.quantity}})</td>
    <td>{{ object.line.weight }}({{object.weight}})</td>
    <td>{{object.line.status}}</td>
    <td><a href ="{% url 'approval_approvallinereturn_delete' object.pk%}">Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
