
<tr >
    <td><input type="checkbox" name="approvalline" value={{item.id}}></td>
    <td>{{item.id}}</td>
    <td> {{item.product}} </td>
    <td> {{item.quantity}} </td>
    <td> {{item.weight}} </td>
    <td>{{item.touch}}</td>
    <td> 
        {% if item.status == 'Returned' %} 
        <ul>
            {% for r in i.return_items.all %}
            <li>
                <a href="{% url 'approval:approval_return_detail' r.id%}">{{r.return_obj}} :wt:{{r.weight}} qty:{{r.quantity}}</a>
            </li>
            {%endfor%}
        </ul>
        {%else%} 
        {{item.status}}
        {%endif%}
    </td>
    <td>
        <a class="btn btn-danger" 
            hx-confirm="Are you sure?"
            hx-post="{% url 'approval:approval_approvalline_delete' item.id%}">
            Delete</a>
        <a class = "btn btn-secondary"
            hx-get="{{item.get_hx_edit_url}}">
            Edit</a>
    </td>
</tr>