{% extends "_base.html" %}
{% load static %}
{% block content %}
{% load mptt_tags %}

<p>
  <a class="btn btn-default" href="{% url 'approval:approval_approvallinereturn_list' %}">ApprovalLine Return Listing</a>
  <a class="btn btn-primary" href="{% url 'approval:approval_approvallinereturn_create' %}">Create new ApprovalLine return</a>
</p>

<table class="table">
  <tr>
      <td>Approval</td>
      <td>RID</td>
      <td>created</td>
      <td>Customer</td>
      <td>quantity</td>
      <td>weight</td>
      <td>Status</td>
      <td>Posted</td>
      <td>Action</td>
  </tr>
{% for object in object_list %}
<tr>
    <td>{{object.line.approval}} | {{object.line.approval.created_at}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object.id}}</a></td>
    <td>{{ object.created_at }}</td>
    <td>{{object.line.approval.contact}}</td>
    <td>{{ object.line.quantity }}({{object.quantity}})</td>
    <td>{{ object.line.weight }}({{object.weight}})</td>
    <td>{{object.line.status}}</td>
    <td>
      {%if object.posted%}
      <a class="btn btn-danger" href="{% url 'approval:approvallinereturn_unpost' object.pk%}">Unpost</a>
      {%else%}
      <a class="btn btn-success" href="{% url 'approval:approvallinereturn_post' object.pk%}">Post</a>
      {%endif%}
    </td>
    <td><a class="btn btn-danger" href ="{% url 'approval:approval_approvallinereturn_delete' object.pk%}">Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
