{%extends '_base.html'%}
{%load static%}
{%block content%}
<div class="row">
    <div class="col-md-6">
        <h1>Approval Return</h1>
    </div>
    <div class="col-md-6">
        <form class="form-inline" action="{% url 'approval:approval_return_list' %}" method="get">
        <div class="form-group">
            <label for="search">Search</label>
            <input type="text" class="form-control" id="search" name="search" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
        </form>
    </div>
</div>
<p>
  <a class="btn btn-default" href="{% url 'approval:approval_return_list'%}">Approval ReturnListing</a>
  <a class="btn btn-primary" href="{% url 'approval:approval_return_create'%}">Add new Approval Return</a>
</p>
<table class="table">
  <tr>
      <td>ID</td>
      <td>created</td>
      <td>Customer</td>
      <td>quantity</td>
      <td>weight</td>
      <td>Posted</td>
      <td>Action</td>
  </tr>
    {%for object in object_list%}  
    <tr>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.created_at }}</td>
        <td><a href="{% url 'contact_customer_detail' object.contact.id%}">{{object.contact}}</a></td>
        <td>{{ object.total_qty }}</td>
        <td>{{ object.total_wt }}</td>
        <td>{{object.posted}}</td>
        <td><a href ="{% url 'approval:approval_return_delete' object.pk%}">Delete</a></td>
            
    </tr>
    {%endfor%}
</table>
{%endblock%}

