<tr id="items">
    <td><a href="{% url 'approval:approval_approval_detail' item.line_item.approval.id%}">{{item.line_item}}</a></td>
    <td>{{item.quantity}}</td>
    <td>{{item.weight}}</td>
    <td>
        <a class="btn btn-danger" 
            hx-confirm="Are you sure?"
            hx-post="{% url 'approval:approval_returnitem_delete' item.id%}">
            Delete</a>
        <a class = "btn btn-secondary"
            hx-get="{{item.get_hx_edit_url}}">
            Edit</a>
    </td>
</tr>