{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <h1><span class="badge badge-success">Cash Jama </span></h1>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col"></th>
              <th scope="col">Account</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{daybook.receipt.cashtotal.t}}</th>
              <td>Cash</td>
              <td>{%for customer in daybook.receipt.cash%} {{customer.customer.name}}({{customer.total}}) {%endfor%}</td>

            </tr>
            <tr>
              <th scope="row">{{daybook.cashsale.metal.t}}</th>
              <td>Metal</td>
              <td>Thornton</td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="table-responsive">
        <h1><span class="badge badge-danger">Cash Nave</span></h1>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>

{%endblock%}
