
{%extends '_base.html'%}
{% block content %}
<p><a class="btn btn-default" href="{% url 'sales_invoice_list' %}">Invoice Listing</a>
  {%if not object.posted%}
  <a href="{% url 'add_items_to_sales' object.id%}" class="btn-btn-info">Add items</a>
  <a class="btn btn-danger" href="{% url 'sales_invoice_delete' object.id %}">Delete</a>
  {%endif%}
  <a class="btn btn-primary" href="{% url 'sales_invoice_create' %}">add Invoice</a>
  <a class="btn btn-secondary" href="{% url 'sales_invoicepdf'  object.id %}">Print</a>
</p>
<div class="btn-group justify-content-between" role="group" aria-label="Basic example">
  {%if previous%}
  <a href="{% url 'sales_invoice_detail' previous.pk %}" type="button" class="btn btn-primary mr-2">Previous
    {{previous.id}}</a>
  {%endif%}
  {%if next %}
  <a href="{% url 'sales_invoice_detail' next.id %}" type="button" class="btn btn-primary mr-2">Next {{next.id}}</a>
  {%endif%}
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-5">
        <ul class="list-unstyled">
          <li>ID: {{ object.id }}</li>
          <li>Customer: <a href="{% url 'contact_customer_detail' object.customer.id %}">{{ object.customer }}</a></li>
          <li>Created: {{ object.created }}</li>
          <li>Updated: {{ object.last_updated }}</li>
          <li>Rate: {{ object.rate }}</li>
        </ul>
      </div>
      <div class="col-5">
        <ul class="list-unstyled">
          <li>Gross: {{object.gross_wt}}</li>
          <li>Net: {{object.net_wt}}</li>
          {% if object.approval %}
          <li>
            Approval Id: <a href="{% url 'approval_approval_detail' object.approval %}">{{object.approval}}</a>
          </li>
          {% endif %}
          <li>Balance: {{ object.balance }}</li>
          <li>BalanceType : {{ object.balancetype }}</li>
          <li>GST: {{object.is_gst}}</li>
          <li>Total: {{object.total}}</li>
          <li>Status:{{ object.status }}</li>
          <li>{%if object.posted%}
            <a class="btn btn-primary" href="{% url 'sales_invoice_unpost' object.pk%}">Unpost</a>
            {%else%}
            <a class="btn btn-primary" href="{% url 'sales_invoice_post' object.pk%}">Post</a>
            {%endif%}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% if object.saleitems %}
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Return</th><th>Product</th><th>Quantity</th><th>Weight</th><th>Touch</th>
      <th>Net Wt</th><th>Total</th>
    </tr>
  </thead>
  {% for i in object.saleitems.all %}
  <tr>
    <td>{{i.is_return}}</td>
    <td>{{i.product}}</td>
    <td>{{i.quantity}}</td>
    <td>{{i.weight}}</td>
    <td>{{i.touch}}</td>
    <td>{{i.net_wt}}</td>
    <td>{{i.total}}</td>
  </tr>
  {%endfor%}
</table>
{%endif%}
{% if object.receiptline_set %}
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>ReceiptId</th> <th>Status</th><th>amount</th>
    </tr>
  </thead>
  {% for i in object.receiptline_set.all %}
  <tr>
    <td><a href="{% url 'sales_receipt_detail' i.receipt.id %}">{{i.receipt.id}}</a></td>
    <td>{{i.created}}</td>
    <td>{{i.amount}}</td>

  </tr>
  {%endfor%}
</table>
{%endif%}
{%if object.journals%}
{{object.journals.all}}
{%endif%}

{% endblock %}
