{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'sales_invoice_list' %}">Invoice Listing</a>
  {%if not object.posted%}
  <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Invoice</a>
  <a class="btn btn-danger" href="{% url 'sales_invoice_delete' object.id %}">Delete</a>
  {%endif%}

  <a class="btn btn-primary" href="{% url 'sales_invoice_create' %}">add Invoice</a>
  <a class="btn btn-secondary" href="{% url 'sales_invoicepdf'  object.id %}">Print</a>
</p>
<table class="table table-sm table-striped table-bordered">
<tr><td>Id</td><td>{{ object.id }}</td></tr>
<tr><td>Customer</td><td><a href="{% url 'contact_customer_detail' object.customer.id %}">{{ object.customer }}</a></td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>rate</td><td>{{ object.rate }}</td></tr>
<tr>
  <td>Gross Wt</td><td>{{object.gross_wt}}</td>
</tr>
<tr>
  <td>Net Wt</td><td>{{object.net_wt}}</td>
</tr>
<tr><td>Approval</td> <td><a href="{% url 'approval_approval_detail' object.approval %}">{{object.approval}}</a></td></tr>
<tr>
  <td>balance</td>
  <td>{{ object.balance|intcomma }}</td>
</tr>
<tr><td>balancetype</td><td>{{ object.balancetype }}</td></tr>
<tr><td>status</td><td>{{ object.status }}</td></tr>
<tr>
  <td>Due Date</td><td>{{object.due_date}}</td>
</tr>
<tr>
  <td>Posted</td>
  <td>
  {%if object.posted%}
  <a class = "btn btn-primary" href="{% url 'sales_invoice_unpost' object.pk%}">Unpost</a>
  {%else%}
  <a class = "btn btn-primary" href="{% url 'sales_invoice_post' object.pk%}">Post</a>
  {%endif%}
  </td>
</tr>
</table>

{% if object.saleitems %}
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Return</th><th>Product</th><th>Quantity</th><th>Weight</th><th>Touch</th>
      <th>Net Wt</th><th>Total</th>
    </tr>
  </thead>
  {% for i in object.saleitems.all %}
  <tr>
    <td>{{i.is_return}}</td>
    <td>{{i.product}}</td>
    <td>{{i.quantity}}</td>
    <td>{{i.weight}}</td>
    <td>{{i.touch}}</td>
    <td>{{i.net_wt}}</td>
    <td>{{i.total}}</td>
  </tr>
  {%endfor%}
</table>
{%endif%}
{% if object.receiptline_set %}
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>ReceiptId</th> <th>Status</th><th>amount</th>
    </tr>
  </thead>
  {% for i in object.receiptline_set.all %}
  <tr>
    <td><a href="{% url 'sales_receipt_detail' i.receipt.id %}">{{i.receipt.id}}</a></td>
    <td>{{i.created}}</td>
    <td>{{i.amount|intcomma}}</td>

  </tr>
  {%endfor%}
</table>
{%endif%}
{% endblock %}
