{% extends "_base.html" %}
{% load static %}
{% block content %}
<form action ="" method="post">
  {%csrf_token %}
  {{form}}
  <input type="submit" value="Submit">
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope ='col'>Date</th>
      <th scope="col">Customer</th>
      <th scope="col">Item</th>
      <th scope="col">Rate</th>
      <th scope ='col'>Amount</th>
      <th scope ='col'>CGST</th>
      <th scope ='col'>SGST</th>
      <th scope ='col'>GST</th>
      <th scope ='col'>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for c in data.cust %}
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td>{{c.name}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    {%endfor%}
  </tbody>

{% endblock %}
