{% extends "_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{{form.media}}
<p><a class="btn btn-default" href="{% url 'sales_receipt_list' %}">Receipt Listing</a></p>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-row">
            <div class="form-group col-md-3">
              {{ form.customer.errors }}
              {% bootstrap_field form.customer size="small" %}
            </div>
            <div class="form-group col-md-3">
              {{ form.created.errors }}
              {% bootstrap_field form.created size="small" %}
            </div>
            <div class="form-group col-md-3">
              {{ form.status.errors }}
              {% bootstrap_field form.status size="small"%}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
              {{ form.type.errors }}
              {% bootstrap_field form.type size="small" %}
            </div>
            <div class="form-group col-md-3">
              {{ form.rate.errors }}
              {% bootstrap_field form.rate size="small"%}
            </div>
            <div class="form-group col-md-3">
              {{ form.description.errors }}
              {% bootstrap_field form.description size="small"%}
            </div>
        </div>

        <div class="form-group row">
          {{ form.weight.errors }}
          <div class="col-sm-3">{% bootstrap_field form.weight size="small"%}</div>
          {{ form.touch.errors }}
          <div class="col-sm-3">{% bootstrap_field form.touch size="small"%}</div>
          {{ form.nettwt.errors }}
          <div class="col-sm-3">{% bootstrap_field form.nettwt size="small"%}</div>
          {{ form.total.errors }}
          <div class="col-sm-3">{% bootstrap_field form.total size="small"%}</div>
        </div>

        {{ receiptline_form.management_form }}
        {{ receiptline_form.non_form_errors }}
        {% for form in receiptline_form %}
        {%csrf_token%}
            {{form.id}}

            <table class="table table-sm table-striped">
              {%if forloop.first%}
              <thead class="thead-dark">
                <tr>
                   {% for field in form.visible_fields %}
                   <th>{{field.label}}</th>
                   {%endfor%}
                </tr>
              </thead>
                  {% endif %}
              <tbody>
              <tr class="inline {{receiptline_form.prefix}}">
                {% for field in form.visible_fields %}
                <td class="{{field.name}}" >
                    <!-- {{ field.errors.as_ul }} -->
                    {% bootstrap_field field show_label=False size="small"%}
                  </td>
                  {% endfor %}
                </tr>
          </tbody>
        </table>
          {% endfor %}
          <div class="form-group row">
            <div class="col"><label>Remaining balance to allot :</label><p id="balance">''</p></div>
          </div>
        <button class="btn btn-primary" type="submit">Save Receipt</button>
    </form>

<script>
  $(".inline.{{ receiptline_form.prefix }}").formset({
      prefix: "{{ receiptline_form.prefix }}",
      added: function ($row) {
         $row.find('.invoice select').select2();
         $row.find('.delete-row').addClass('btn-sm btn-danger');
      },
      removed: function($row){
        updatebal();
      }
  })
  updatebal();
  $('.add-row').addClass('btn-sm btn-success');
  $('.delete-row').addClass('btn-sm btn-danger');
  function updatebal(){
    var sum = 0;

    $(".amount input").each(function () {
          if (!isNaN(this.value) && this.value.length != 0) {
              sum += parseFloat(this.value);
          }
      });
      console.log("amountsum" + sum);
    var total=$("#id_total").val();
    $("#balance").text(total-sum);

  }
  $(function(){
    $(document).ready(function() {

      $(document).on('change','#id_total',function() { $('#balance').text( $(this).val());})
      $(document).on('change', '.amount', function() { updatebal();});
      $('#id_weight,#id_touch,#id_nettwt').prop('disabled',true)
      $(document).on('change','#id_type', function() {
      //alert( this.value );
        if(this.value=='Metal'){
          $('#id_weight,#id_touch,#id_nettwt,#id_rate').prop('disabled',false)
          $(function(){
                    $('#id_weight, #id_touch').keyup(function(){
                       var value1 = parseFloat($('#id_weight').val()) || 0;
                       var value2 = parseFloat($('#id_touch').val()) || 0;
                       $('#id_nettwt,#id_total').val((value1 * value2)/100);
                       $('#id_total').trigger('change');
                    });
                 });
               }
        else {
              $('#id_weight,#id_touch,#id_nettwt').prop('disabled',true)
              }

            });
    });
  });

</script>
{% endblock %}
