{% load crispy_forms_tags %}
    <div class="card" hx-target="this" hx-swap="outerHTML">
        <div class="card-body" style="background-color: #eee;">
            <form method="post" hx-post="{% url 'customer_contact_form' customer.id%}">
                {{form|crispy}}
            <button type="submit" class = "btn btn-success" >Save</button>
            <button type="button" hx-get = "{% url 'customer_contactno_list' customer.id%}" 
                                    hx-target = "#contactno-list" 
                                    hx-swap = "innerHTML" 
                                    class = "btn btn-danger" >Cancel</button>
            </form> 
        </div>
    </div>