<div id="customer-content">
    <div class="alert alert-secondary text-center" role="alert">
      <p class="font-weight-bold">
        {{customer.name|title}} {{customer.relatedas}} {{customer.relatedto|title}} rank:{{customer.rank}}
        {{customer.Address|capfirst}} {{customer.area|capfirst}} {{customer.phonenumber}} {{customer.type}}</p>
        
    </div>
    
    <div class="mb-3 ">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
          <a class="btn btn-primary ml-2" role="button" href="{% url 'contact_customer_update' object.id%}" >Edit Customer</a>
          <a class="btn btn-primary ml-2" role="button" href="{% url 'girvi_loan_create' customer.id %}">Add Loan</a>
          {%if customer.account%}
          <a class="btn btn-primary ml-2 " role="button" href="{% url 'dea_account_audit' customer.account.id%}">Audit</a>
          {%endif%}
      </div>
      </div>
    </div>
    <div id="customer-content"></div>
    <div class="card-columns">
      <div class="card text-center">
        <div class="card-header">
        Loan
        </div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Loans  <span class="badge badge-primary badge-pill">{{customer.get_loans_count}}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Amount <span class="badge badge-info badge-pill">{{customer.get_total_loanamount}}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Gold<span class="badge badge-info badge-pill">{{customer.get_gold_weight}}</span>
          <li class="list-group-item d-flex justify-content-between align-items-center">silver<span class="badge badge-info badge-pill">{{customer.get_silver_weight}}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Bronze<span class="badge badge-info badge-pill"></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Interestdue<span class="badge badge-info badge-pill">{{customer.get_total_interest_due}}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Average Release time<span class="badge badge-info badge-pill">{{customer.get_release_average}}</span></li>
          </ul>
          </div>
      </div>
      <div class="card text-center">
        <div class="card-header">
        Invoice Balance
        </div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center"">Amount <span class="badge badge-info badge-pill">{{customer.get_total_invoice_cash}}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Gold<span class="badge badge-info badge-pill">{{customer.get_total_invoice_metal}}</span>
          </ul>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header">
        UnPaid Cash Balance : {{customer.get_unpaid_cash_total}}
        </div>
      </div>
      <div class="card text-center " >
        <div class="card-header">
        UnPaid Metal Balance : {{customer.get_unpaid_metal_total}}
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Unpaid Month-Wise</h5>
          <div class="table-responsive">
          <table class ="table table-sm table-striped table-bordered">
            <thead>
              <tr>
                <th>Month</th><th>Cash Bal</th><th>Metal Bal</th>
              </tr>
            </thead>
            <tbody>
              {%for month in monthwise%}
              <tr>
                <td>{{month.month}}</td><td>{{month.tc}}</td><td>{{month.tm}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Purchase Month-Wise</h5>
          <div class="table-responsive">
          <table class ="table table-sm table-striped table-bordered">
            <thead>
              <tr>
                <th>Month</th><th>Cash Bal</th><th>Metal Bal</th>
              </tr>
            </thead>
            <tbody>
              {%for month in monthwiserev%}
              <tr>
                <td>{{month.month}}</td><td>{{month.tc}}</td><td>{{month.tm}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Payment Expected</h5>
          <div class="table-responsive">
          <table class ="table table-sm table-striped table-bordered">
            <thead>
              <tr>
                <th>days since</th><th>Cash Bal</th><th>Metal Bal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>last 30 days</td><td>{{current.tc}}</td><td>{{current.tm}}</td>
              </tr>
              <tr>
                <td>before 30 days</td><td>{{past.tc}}</td><td>{{past.tm}}</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    
    </div>
    <div class="table">
      <table class="table table-sm table-bordered table-striped">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col">LoanId</th>
            <th scope="col">Created</th>
            <th scope="col">Item</th>
            <th scope="col">Weight</th>
            <th scope="col">Amount</th>
            <th scope="col">NoofMonths</th>
            <th scope="col">status</th>
            <th scope="col">Interest</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for loan in customer.get_loans   %}
            {% if loan.release %}
              <tr class="table-success text-center">
                <th scope="row"><a href="{% url 'girvi_loan_detail' loan.id %}">{{loan.loanid}}</a></th>
                    <td>{{loan.created.date}} </td>
                    <td>{{loan.itemdesc}}</td>
                    <td>{{loan.itemweight}}</td>
                    <td>{{loan.loanamount}}</td>
                    <td>{{loan.noofmonths}} </td>
                    <td>{{loan.release}} </td>
                    <td>{{loan.interestdue}}</td>
                    <td><a href="{% url 'girvi_loan_update' loan.id %}">Update</a> / <a href="{%url 'girvi_loan_delete' loan.id%}">Delete</a></td>
    
                  </tr>
            {% elif loan.noofmonths > 12%}
              <tr class="table-danger text-center">
                <th scope="row"><a href="{% url 'girvi_loan_detail' loan.id %}">{{loan.loanid}}</a></th>
                <td>{{loan.created.date}} </td>
                <td>{{loan.itemdesc}}</td>
                <td>{{loan.itemweight}}</td>
                <td>{{loan.loanamount}}</td>
                <td>{{loan.noofmonths}} </td>
                <td>{{loan.release}} </td>
                <td>{{loan.interestdue}}</td>
                <td><a href="{% url 'girvi_loan_update' loan.id %}">Update</a> / <a href="{%url 'girvi_loan_delete' loan.id%}">Delete</a>/
                <a href="{%url 'girvi_release_create' loan.id%}">Release</a></td>
    
              </tr>
            {% else%}
                <tr class="table-light text-center">
                  <th scope="row"><a href="{% url 'girvi_loan_detail' loan.id %}">{{loan.loanid}}</a></th>
                  <td>{{loan.created.date}} </td>
                  <td>{{loan.itemdesc}}</td>
                  <td>{{loan.itemweight}}</td>
                  <td>{{loan.loanamount}}</td>
                  <td>{{loan.noofmonths}} </td>
                  <td>{{loan.release}} </td>
                  <td>{{loan.interestdue}}</td>
                  <td><a href="{% url 'girvi_loan_update' loan.id %}">Update</a> / <a href="{%url 'girvi_loan_delete' loan.id%}">Delete</a>/
                  <a href="{%url 'girvi_release_create' loan.id%}">Release</a></td>
    
                </tr>
    
              {%endif %}
    
          {%endfor %}
        </tbody>
      </table>
    </div>
  </div>