{% extends "_base.html" %}
{% block content %}
{% load mptt_tags %}
<ul>
    {% recursetree object_list %}
        <li>
            {{ node.name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
<p><a class="btn btn-default" href="{% url 'product_category_list' %}">Category Listing</a></p>

<table class="table table-sm table-striped">
<tr>
<td>ID</td>
    <td>name</td>
    <td>Parent</td>
    <td>description</td>
</tr>
{% for object in object_list %}
<tr>
    <td><a href="{{object.get_absolute_url}}">{{object.id}}</a></td>
    <td>{{ object.name }}</td>
    <td><a href="{{object.get_absolute_url}}">{{object.parent}}</td>
    <td>{{ object.description }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'product_category_create' %}">Create new Category</a>
{% endblock %}
