{% extends "_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{{form.media}}
<p><a class="btn btn-default" href="{% url 'product_product_list' %}">Product Listing</a></p>
<div class="row">
<div class="col-9">
<table class="table table-sm table-striped table-hover">
  <thead class="thead-light">
<tr>
  <th>Name</th>
  <th>category</th>
  <th>product type</th>
  <th>description</th>
  <th>attributes</th>
  <th>Action</th>
</tr>
</thead>
<tbody>
{% for object in object_list %}
<tr>
    <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
    <td>{{object.category}}</td>
    <td>{{object.product_type}}</td>
    <td>{{ object.description }}</td>
    <td>{{object.jattributes}}</td>
    <td><a class="btn btn-danger" href="{% url 'product_product_delete' object.id%}">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="col-3">
  <div class="sticky-top">

    {% if filter %}
      <div class="card  bg-light mb-3 text-center">
        <div class="card-header">
          Filter
        </div>
        <div class="card-body">
          <form action="" method="get" class="form-horizontal">
              {% bootstrap_form filter.form field_class='mb-2 mr-sm-2' size='small' %}
              {% bootstrap_button 'filter' button_type="submit" button_class="btn-primary" %}
          </form>
      </div>
    </div>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}
