{% extends "_base.html" %}
{% load static %}
{%load bootstrap4%}
{% block content %}
{{form.media}}
<p><a class="btn btn-default" href="{% url 'product_productvariant_list' %}">ProductVariant Listing</a></p>
<div class="row">
  <div class="col-9">
    <table class="table table-striped table-hover table-responsive">
      <thead class = "thead-dark">
        <tr>
          <th>ID</th>
          <th>sku</th>
          <th>name</th>
          <th>Product</th>
          <th>Atrributes</th>
          <th>track_inventory</th>
          <th>Previous qih</th>
          <th>Current qih</th><th>Current Qih Weight</th>
          <th>cost_price</th>
          <th>weight</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <td><a href="{{object.get_absolute_url}}">{{object.id}}</a></td>
          <td>{{ object.sku }}</td>
          <td>{{ object.name }}</td>
          <td>{{object.product}}</td>
          <td>{{object.attributes}}</td>
          <td>{{ object.track_inventory }}</td>
          <td>{{ object.quantity }}</td>
          <td>{{object.stock.get_current_qih.total}}</td>
          <td>{{object.stock.get_current_qih_weight.total}}</td>
          <td>{{ object.cost_price }}</td>
          <td>{{ object.weight }}</td>
          <td><a class = "btn btn-danger" href="{% url 'product_productvariant_delete' object.id%}">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="col-3">
      <div class="sticky-top">

        {% if filter %}
        <div class="card  bg-light mb-3 text-center">
          <div class="card-header">
            Filter
          </div>
          <div class="card-body">
            <form action="" method="get" class="form-horizontal">
              {% bootstrap_form filter.form field_class='mb-2 mr-sm-2' size='small' %}
              {% bootstrap_button 'filter' button_type="submit" button_class="btn-primary" %}
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}
