{% extends "_base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'product_productvariant_list' %}">ProductVariant Listing</a></p>
<table class="table">
<tr><td>sku</td><td>{{ object.sku }}</td></tr>
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>track_inventory</td><td>{{ object.track_inventory }}</td></tr>
<tr><td>quantity</td><td>{{ object.quantity }}</td></tr>
<tr><td>cost_price</td><td>{{ object.cost_price }}</td></tr>
<tr><td>weight</td><td>{{ object.weight }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit ProductVariant</a>

{% endblock %}
