{% extends '_base.html'%}
{%load crispy_forms_tags%}
{% block content %}
{{form.media}}
<p><a class="btn btn-default" href="{% url 'product_productvariant_list' %}">ProductVariant Listing</a></p>
<div class="row">
  <div class="col-9">
    <table class="table table-sm table-striped table-hover table-responsive">
      <thead class = "thead-light">
        <tr>
          <th>ID</th>
          <th>product_code</th>
          <th>name</th>
          <th>Product</th>
          <th>Available</th>
          <th>Attributes</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for object in filter.qs %}
        <tr>
          <td><a href="{{object.get_absolute_url}}">{{object.id}}</a></td>
          <td>{{ object.product_code }}</td>
          <td>{{ object.name }}</td>
          <td>
            <a href="{% url 'product_product_detail' object.product.id %}">{{ object.product }}</a></td>
          <td>{{ object.get_bal }}</td>        
          <td>{{object.jattributes}}</td>
          <td><a class = "btn btn-danger" href="{% url 'product_productvariant_delete' object.id%}">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="col-3">
      <div class="sticky-top">

        {% if filter %}
        <div class="card  bg-light mb-3 text-center">
          <div class="card-header">
            Filter
          </div>
          <div class="card-body">
            <form action="" method="get" class="form-horizontal">
              {{filter.form|crispy}}
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}
