{%extends '_base.html'%}
{%load crispy_forms_tags%}
{% block content %}
<div class="container my-3">
    <p>
        <a class="btn btn-primary" href="{% url 'product_stock_list' %}">Stock Listing</a>
        <a class="btn btn-primary" href="{% url 'product_stock_audit' %}">Stock Audit</a>
    </p>
</div>
<div class="row py-3">
    <div class="col-9 py-3">
        <table class="table table-sm table-responsive">
            <tr>
                
                <td>created</td>
                <td>Id</td>
                <td>Product Code</td>
                <td>Product</td>
                <td>Weight</td>
                <td>Quantity</td>
                <td>updated_on</td>
               
            </tr>
            {% for object,bal in data.stock %}
            <tr>
                <td>{{object.created|date}}</td>
                <td><a href="{{object.get_absolute_url}}">{{object.id}}</a></td>
                
                <td>{{object.variant.product_code}}</td>
                <td><a href="{% url 'product_productvariant_detail' object.variant.id%}">{{object.variant.name}}</a></td>
                <td>{{bal.wt}}</td>
                <td>{{bal.qty}}</td>
                <td>{{object.updated_on}}</td>
                
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-3">
        <div class="sticky-top">
            {% if filter %}
            <div class="card  bg-light mb-3 text-center">
                <div class="card-header">
                    Filter
                </div>
                <div class="card-body">
                    <form action="" method="get" class="form-horizontal">
                        {{filter.form|crispy}}
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
