{% extends "_base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'product_stocktransaction_list' %}">Stock Transaction Listing</a></p>
<table class="table">
<tr><td>Created</td><td>{{ object.created }}</td></tr>
<tr><td>Updated</td><td>{{ object.updated }}</td></tr>
<tr><td>Product</td><td><a href = "{% url 'product_stock_detail' object.stock.id%}" >{{ object.stock }}</a></td></tr>
<tr><td>Quantity</td><td>{{ object.quantity }}</td></tr>
<tr><td>type</td><td>{{ object.type }}</td></tr>
<tr><td>Weight</td><td>{{ object.weight }}</td></tr>
<tr><td>object</td><td>{{ object.content_object }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit StockTransaction</a>

{% endblock %}
