{%extends '_base.html'%}
{% block content %}
<p><a class="btn btn-default" href="{% url 'product_stock_list' %}">Stock Listing</a>
</p>
<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">Detail</div>
      <div class="card-body">
        
        <table class="table table-sm table-responsive">
          <tbody>
            <tr>
              <td>Created</td>
              <td>{{ object.created }}</td>
            </tr>
            <tr>
              <td>Updated</td>
              <td>{{ object.updated_on }}</td>
            </tr>
            <tr>
              <td>Product</td>
              <td>{{ object.variant }}</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td>{{object.current_balance.wt}}</td>
            </tr>
            <tr>
              <td>Quantity</td>
              <td>{{ object.current_balance.qty}}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{object.status}}</td>
            </tr>
            <tr>
              <td>Reorderat</td>
              <td>{{ object.reorderat }}</td>
            </tr>
            <tr> 
              <a class="btn btn-primary" href="{% url 'product_stock_merge' object.id%}">Merge</a>
            </tr>
            </table>
          </tbody>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Transactions</h5>
        {%if object.stocktransaction_set %}
        <table class="table table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>movement</th>
              <th>journal</th>
              <th>weight</th>
              <th>quantity</th>
            </tr>
          </thead>
          <tbody>
            {%for i in object.stocktransaction_set.all %}
            <tr>
              <td>{{i.id}}</td>
              <td>{{i.movement_type.name}}</td>
              <td>
                <a href="{% url ''|add:i.journal.get_url_string i.journal.content_object%}">
                  {{i.journal.desc}}:{{i.journal.content_object}}</a>
              </td>
              <td>{{i.movement_type.direction}}{{i.weight}}</td>
              <td>{{i.movement_type.direction}}{{i.quantity}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        {%endif%}
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Statements</h5>
        {%if object.stockstatement_set%}
        <ul class="list-group list-group-flush">
          {%for i in object.stockstatement_set.all%}
          <li class="list-group-item">
            {{i.created}} wt:{{i.Closing_wt}} qty:{{i.Closing_qty}}
          </li>
        </ul>
        {%endfor%}
        {%endif%}
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lots</h5>
        {%if object.lots%}
        <table class="table table-hover">
          <thead>
            <th>Created</th><th>Purchase</th><th>Barcode</th><th>Huid</th><th>current_balance</th>
          </thead>
          <tbody>
            {%for i in object.lots.all%}
            <tr>
              <td>{{i.created}}</td>
              <td>{{i.purchase}}</td>
              <td><a href="{% url 'product_stocklot_detail' i.id%}">{{i.barcode}}</a></td>
              <td> {{i.huid}} </td>
              <td>{{i.current_balance}}</td>
            </tr>
           {%endfor%}
          </tbody>
        </table>

        {%endif%}
      </div>
    </div>
  </div>
</div>


{% endblock %}
