{% extends "_base.html" %}
{% load static %}
{% block content %}
<p>
    <a class="btn btn-primary" href="{% url 'product_stock_list' %}">Stock Listing</a>
        <a class="btn btn-primary" href="{% url 'product_stock_audit' %}">Stock Audit</a>

</p>
<table class="table">
<tr>
<td>created</td>
    <td>Barcode</td>
    <td>Product Code</td>
    <td>Product</td>
    <td>Tracking_Type</td>
    <td>Weight</td>
    <td>Quantity</td>
    <td>updated_on</td>
    <td>Status</td>

</tr>
{% for object,bal in data.stock %}
<tr>
    <td>{{object.created|date}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object.barcode}}</a></td>
    <td>{{object.variant.product_code}}</td>
    <td><a href="{% url 'product_productvariant_detail' object.variant.id%}">{{object.variant.name}}</a></td>
    <td>{{object.tracking_type}}</td>
    <td>{{object.bal.wt}}</td>
    <td>{{object.bal.qty}}</td>
    <td>{{object.updated_on}}</td>
    <td>{{object.status}}</td>

</tr>
{% endfor %}
</table>

<a class="btn btn-primary" href="{% url 'product_stock_create' %}">Create new Stock</a>
{% endblock %}
