{% extends "_base.html" %}
{% load static %}
{% block content %}
{% load mptt_tags %}

<p><a class="btn btn-primary" href="{% url 'product_stree_create' %}">Create new Stock</a></p>

<ul class="list-group">
      {% recursetree object_list %}
      <p>
        <div class='card'>


          <div class="card-body">
            <a  class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample{{node.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
            {{ node.name }} {{node.barcode}} Bal({{node.balance}}) #({{node.get_descendant_count}}) {{node.tracking_type}}
            </a>
            {%if node.is_leaf_node%}

                <a class="btn btn-outline-info btn-sm"  href="{% url 'product_stree_update' node.id %}">Edit</a>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'product_stree_delete' node.id %}">Delete</a>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'product_stree_mergelot' node.id %}">Merge</a>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'product_stree_splitlot' node.pk %}">Split</a>

            {%endif%}
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse show" id="multiCollapseExample{{node.id}}">
                  <ul class="children">
                    {%if not node.is_leaf_node%}
                        {{children}}{{count_attr}}
                    {%endif%}
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p>
  {% endrecursetree %}
</ul>

{% endblock %}
