{% extends "_base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'product_stock_list' %}">Stree Detail Listing</a></p>
<table class="table">
<tr><td>Created</td><td>{{ object.created }}</td></tr>
<tr><td>Parent</td><td>{{ object.parent }}</td></tr>
<tr><td>Weight</td><td>{{ object.weight }}</td></tr>
<tr><td>cost</td><td>{{ object.cost }}</td></tr>
<tr><td>barcode</td><td>{{ object.barcode }}</td></tr>

</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Stree</a>

{% endblock %}
