{% extends "_base.html" %}
{% load static %}
{% block content %}
{% load bootstrap4%}
{% load mptt_tags %}
{{form.media}}
<p><a class="btn btn-primary" href="{% url 'product_stree_create' %}">Create new Stock</a></p>
<div class = "row">
  <div class="col-9">
    <ul class="list-group">
          {% recursetree object_list %}
          <p>
            <div class='card'>


              <div class="card-body">
                <a  class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample{{node.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                {{ node.name }} {{node.barcode}} Bal({{node.balance}}){{node.weight}} #({{node.get_descendant_count}}) {{node.tracking_type}}
                </a>
                {%if node.is_leaf_node%}
                    Quantity : {{node.quantity}} Status : {{node.status}}
                    <a class="btn btn-outline-info btn-sm"  href="{% url 'product_stree_update' node.id %}">Edit</a>
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'product_stree_delete' node.id %}">Delete</a>
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'product_stree_mergelot' node.id %}">Merge</a>
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'product_stree_splitlot' node.pk %}">Split</a>

                {%elif node.level == 2 %}
                  <a class ="btn btn-outline-danger btn-sm" >Delete all Child Nodes</a>
                {%endif%}
                <div class="row">
                  <div class="col">
                    <div class="collapse multi-collapse " id="multiCollapseExample{{node.id}}">
                      <ul class="children">
                        {%if not node.is_leaf_node%}
                            {{children}}
                        {%endif%}
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      {% endrecursetree %}
    </ul>
    <table class="table table-sm table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">full_name</th>
      <th scope="col">parent</th>
      <th scope="col">weight</th>
      <th scope="col">cost</th>
      <th scope="col">created</th>
      <th scope="col">tracking_type</th>
      <th scope="col">barcode</th>
      <th scope="col">quantity</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list%}
    {%if object.barcode %}
    <tr>
      <th scope="row"><a href={% url 'product_stree_detail' object.id%}>{{object.id}}</a></th>
      <td>{{object.name}}</td>
      <td>{{object.full_name}}</td>
      <td>{{object.parent.name}}</td>
      <td>{{object.weight}}</td>
      <td>{{object.cost}}</td>
      <td>{{object.created |date}}</td>
      <td>{{object.tracking_type}}</td>
      <td>{{object.barcode}}</td>
      <td>{{object.quantity}}</td>
      <td>{{object.status}}</td>
    </tr>
    {%endif%}
    {%endfor%}
  </tbody>
</table>
  </div>
  <div class="col-3">
    <div class="sticky-top">

      {% if filter %}
      <div class="card  bg-light mb-3 text-center">
        <div class="card-header">
          Filter
        </div>
        <div class="card-body">
          <form action="" method="get" class="form-horizontal">
            {% bootstrap_form filter.form field_class='mb-2 mr-sm-2' size='small' %}
            {% bootstrap_button 'filter' button_type="submit" button_class="btn-primary" %}
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
