{% extends "_base.html" %}
{% load static %}
{% block content %}
{% load mptt_tags %}
<ul >
    {% recursetree object_list %}
        <li >
            {{ node.name }} {{node.barcode}} ({{node.balance}}) / ({{node.weight}})
            {% if not node.is_leaf_node %}
                <ul class="children">
                  {{children}}
                </ul>
            {% else %}
                 {{children}}<a class="btn btn-default" href="{% url 'product_stree_update' node.id %}">Edit</a>
                 <a class="btn btn-default" href="{% url 'product_stree_delete' node.id %}">Delete</a>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
<p><a class="btn btn-default" href="{% url 'product_stree_list' %}">Stocktree Listing</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>barcode</th>
            <th>weight</th>
            <th>cost</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for node in object_list %}

        <tr>
            <td>
                <div style="padding-left: {% widthratio node.get_level 1 15 %}px;">
                    {% if node.is_child_node %}↳{% endif %}
                    {{ node.name }}
                </div>
            </td>
            <td>{{ node.get__type_display }}</td>
            <td>{{ node.barcode }}</td>
            <td>{{ node.weight|join:', ' }}</td>
            <td>
                {% if node.is_leaf_node %}
                    <a href="" class="btn btn-default btn-xs">Transactions</a>
                {% else %}
                <a href="" class="btn btn-default btn-xs">Parent</a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'product_stree_update' node.id %}" class="btn btn-default btn-xs">Edit</a>
            </td>
        </tr>
        {% empty %}
            <tr>
            <td colspan="6" class="text-center">No accounts exist</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td><td>Parent</td>

</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{object.parent}}</td>

{% endfor %}
</table><a class="btn btn-primary" href="{% url 'product_stree_create' %}">Create new Stock</a>
{% endblock %}
