{%extends '_base.html'%}
{% load django_tables2 %}
{{filter.form.media}}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Purchase Invoice</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
     <a class="btn btn-primary mr-2" href="{% url 'purchase:purchase_invoice_create' %}" role="button">Add Purchase</a>
     <a class="btn btn-primary mr-2" href="{% url 'purchase:purchase_invoice_list' %}" role="button">Purchase List</a>
     <a class="btn btn-primary" href="{% export_url 'ods' %}" role="button">export</a>

    </div>
  </div>
</div>

<div class="purchase-content mb-2">
  <div class="row">
      <div class="col-sm-3" id="filter">
          {%include 'filter.html'%}
      </div>
      <div class="col-sm-9 table-responsive" id="table">
          {%include 'table1.html'%}
      </div>
  </div>
</div>
{% endblock %}
