{% extends '_base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<script src="{% static 'js/jquery.formset.js' %}"></script>

{{form.media}}

{% for form in invoiceitem_form%}
  {{form.empty_permitted}}/has_changed:{{form.has_changed}}
{%endfor%}
<p><h2 class="h3 mb-3 font-weight-normal">Add Purchase</h2></p>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-row">
            <div class="form-group col-md-3">
              {{ form.supplier.errors }}
              {% bootstrap_field form.supplier size="small" %}
            </div>
            <div class="form-group col-md-3">
              {{ form.created.errors }}
              {% bootstrap_field form.created size="small" %}
            </div>
            <div class="form-group col-md-3">
              {{ form.is_gst.errors }}
              {% bootstrap_field form.is_gst  %}
            </div>
        </div>
        <div class="form-row">
            
            <div class="form-group col-md-3">
              {{ form.balancetype.errors }}
              {% bootstrap_field form.balancetype size="small" %}
            </div>
            <div class="form-group col-md-3">
              {{ form.metaltype.errors }}
              {% bootstrap_field form.metaltype size="small" %}
            </div>
            
            <div class="form-group col-md-3">
              {{ form.rate.errors }}
              {% bootstrap_field form.rate size="small" %}
            </div>

          </div>

        {{ invoiceitem_form.management_form }}
        {{ invoiceitem_form.non_form_errors }}
        {% for form in invoiceitem_form %}
        {%csrf_token%}
            {{form.id}}

            <table class="table table-sm table-striped">
              {%if forloop.first%}
              <thead class="thead-dark">
                <tr>
                   {% for field in form.visible_fields %}
                   <th>{{field.label}}</th>
                   {%endfor%}
                </tr>
              </thead>
                  {% endif %}
              <tbody>
              <tr class="inline {{invoiceitem_form.prefix}}">
                {% for field in form.visible_fields %}
                <td class="{{field.name}}" >
                    <!-- {{ field.errors.as_ul }} -->
                    {% bootstrap_field field show_label=False size="small" %}
                  </td>
                  {% endfor %}
                </tr>
          </tbody>
        </table>
          {% endfor %}
        
        
        <div class="form-group row">
          <div class="form-group col-md-3">
            {{ form.term.errors }}
            {% bootstrap_field form.term size="small"%}
          </div>
          
          {{ form.status.errors }}
          <div class="col-sm-3">{% bootstrap_field form.status size="small" %}</div>
          {{ form.balance.errors }}
          <div class="col-sm-3">{% bootstrap_field form.balance size="small" %}</div>
        </div>
        <button class="btn btn-primary" type="submit">Save Invoice</button>
    </form>

<script type="text/javascript">
      
  function update_amounts() {
      var sum = 0;
      var nwt = 0.0;
      var twt = 0.0;
      console.log('update_balance');
      $(".total input").each(function () {
        if (!isNaN(this.value) && this.value.length != 0 && this.value !=0) {
          sum =sum + parseFloat(this.value);
        } 
      });
      $("#id_balance").val(sum.toFixed(3));
    }
  function update_row() {
      var rate = $('#id_rate').val();
      $('.inline').each(function () {
        var wt = $(this).find('.weight input').val();
        var touch = $(this).find('.touch input').val();
        var ret = $(this).find('.is_return input').is(':checked');
        var mc = $(this).find('.makingcharge input').val();

        var nettwt = (wt * touch) / 100
        var total =0
        if ($('#id_balancetype').val() == 'Cash')
          total = Number(nettwt) * Number(rate) + Number(mc);
        else {
          total = Number(nettwt) + Number(mc);
        }
        if (ret)
          total = -total
        $(this).find('.net_wt input').val(nettwt.toFixed(3));
        $(this).find('.total input').val(total.toFixed(3));
        console.log(wt, touch, nettwt, rate, total.toFixed(3))
      });
    }
  $(document).on('change', '.weight,.touch,#id_balancetype,#id_rate,.makingcharge,.is_return', function () {
    update_row();
    update_amounts();
  });
  $(document).on('clicked','deelte-row',function(){
    console.log('delete clicked');
    update_amounts();
  })

  $(".inline.{{ invoiceitem_form.prefix }}").formset({
      prefix: "{{ invoiceitem_form.prefix }}",
      //formTemplate: $("#formset-template").clone(),
      // initialize newly created heavy fields on the added callback
      added: function ($row) {
        $row.find('.product select').select2();
        $row.find('.delete-row').addClass('btn-sm btn-danger');
      },
      removed: function ($row) {
        update_amounts();
      },

    });

    $('.product select').select2();
    $('.add-row').addClass('btn-sm btn-success');
    $('.delete-row').addClass('btn-sm btn-danger');
</script>

{% endblock %}
