{%load crispy_forms_tags%}

<tr id="row">
    <td><div class='htmx-indicator'>Loading...</div></td>
    <td>{{form.media}} {{form.errors}}</td>
    {%for field in form.visible_fields%}
    <td> {{field.errors}} {{field|as_crispy_field}} {{field.help_text}}</td>
    {%endfor%}
    <td></td>
    <td>
        <a class='btn btn-success htmx-inverted-indicator' 
            style='margin-top:10px;'
            hx-post="{% if url %}{{ url }}{% else %}.{% endif%}" 
            hx-include="closest tr">
            Save  <i class="fa fa-save"></i></a>
        <a class="btn btn-danger" 
            {%if object%}
                hx-get="{{object.get_absolute_url}}" 
            {%else%} 
                _="on click transition opacity to 0 then remove #row" 
            {%endif%}
            >Cancel</a>
    </td>
</tr>
