{% extends "_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<script src="{% static 'js/jquery.formset.js' %}"></script>

{{form.media}}
<p><a class="btn btn-default" href="{% url 'purchase_payment_list' %}">Payment Listing</a></p>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-row">
            <div class="form-group col-md-4">
              {{ form.supplier.errors }}
              {% bootstrap_field form.supplier size="small" %}
            </div>
            <div class="form-group col-md-4">
              {{ form.created.errors }}
              {% bootstrap_field form.created size="small" %}
            </div>
            <div class="form-group col-md-3">
              {{ form.status.errors }}
              {% bootstrap_field form.status size="small"%}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
              {{ form.type.errors }}
              {% bootstrap_field form.type size="small" %}
            </div>
            <div class="form-group col-md-4">
              {{ form.rate.errors }}
              {% bootstrap_field form.rate size="small" %}
            </div>
            <div class="form-group col-md-4">
              {{ form.description.errors }}
              {% bootstrap_field form.description size="small" %}
            </div>
        </div>
        <div class="form-group row">   
          {{ form.total.errors }}
          <div class="col-sm-3">{% bootstrap_field form.total size="small" %}</div>
        </div>
        {{ paymentitem_form.management_form }}
        {{ paymentitem_form.non_form_errors }}
        {% for form in paymentitem_form %}
        {%csrf_token%}
            {{form.id}}
            <table class="table table-sm table-striped">
              {%if forloop.first%}
              <thead class="thead-dark">
                <tr>
                   {% for field in form.visible_fields %}
                   <th>{{field.label}}</th>
                   {%endfor%}
                </tr>
              </thead>
                  {% endif %}
              <tbody>
              <tr class="inline {{paymentitem_form.prefix}}">
                {% for field in form.visible_fields %}
                <td class="{{field.name}}" >
                    <!-- {{ field.errors.as_ul }} -->
                    {% bootstrap_field field show_label=False size="small" %}
                  </td>
                  {% endfor %}
                </tr>
          </tbody>
        </table>
          {% endfor %}
        <button class="btn btn-primary" type="submit">Save Payment</button>
    </form>
<script type="text/javascript">
  $(".inline.{{ paymentitem_form.prefix }}").formset({
      prefix: "{{ paymentitem_form.prefix }}",
      added: function ($row) {
        $row.find('.delete-row').addClass('btn-sm btn-danger');
      },
      removed: function ($row) {
        update_bal();
      }
    })
  $('.add-row').addClass('btn-sm btn-success');
  $('.delete-row').addClass('btn-sm btn-danger');
</script>
<script>
  //$('.inline :input').prop('disabled', true);
    $(document).ready(function () {
      $('#id_type').on('change', function () {
        value = $('#id_type :selected').val();
        console.log(value)
        if(value != 'Cash'){
          $('.inline :input').prop('disabled', false);
        }
        else{
          $('.inline :input').prop('disabled', true);
        }
      });
      $(document).on('change', '.weight,.touch,.amount,.nettwt,#id_rate', function () {
        update_row();
        update_bal();
      });
    });

    function update_row() {
      var rate = $('#id_rate').val();
      $('.inline').each(function () {
        var wt = $(this).find('.weight input').val();
        var touch = $(this).find('.touch input').val();
        var nettwt = (wt * touch) / 100
        $(this).find('.nettwt input').val(nettwt);
        if ($('#id_type').val() != 'Cash') {
          if(rate != 0){
            $(this).find('.amount input').val(nettwt * rate);}
          else{
             $(this).find('.amount input').val(nettwt);
          }
        }
        update_bal();
        console.log(wt, touch, nettwt, rate);
      });
    }
    function update_bal() {
      var sum = 0;
      $(".amount input").each(function () {
        if (!isNaN(this.value) && this.value.length != 0) {
          sum += parseFloat(this.value);
        }
      });
      $("#id_total").val(sum.toFixed(3));

    }
</script>
{% endblock %}
