{% extends "_base.html" %}
{% load static %}
{%load bootstrap4%}
{% block content %}
<p><a class="btn btn-default" href="{% url 'purchase_payment_list' %}">Payment Listing</a>
<a class="btn btn-primary" href="{% url 'purchase_payment_create' %}">Create new Payment</a></p>
{% if filter %}
    <form action="" method="get" class="form form-inline mb-4">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
    <th>ID</th>
    <th>Customer</th>
    <th>created</th>
    <th>last_updated</th>
    <th>type</th>
    <th>total</th>
    <th>description</th>
    <th>Action</th>
    </tr>
</thead>
<tbody>
{% for object in filter.qs %}
<tr>

    <td><a href="{{object.get_absolute_url}}">{{object.id}}</a></td>
    <td>{{ object.customer.name }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.type }}</td>
    <td>{{ object.total }}</td>
    <td>{{ object.description }}</td>
    <td><a class="btn btn-danger" href="{% url 'purchase_payment_delete' object.slug%}">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
