{% extends "_base.html" %}

{% block content %}
<p>
  <a class="btn btn-primary" href="{% url 'purchase:purchase_invoice_list' %}">Purchase Listing</a>
  <a class="btn btn-secondary" href="">Print</a>
  {%if not object.posted %}
    <a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>
    <a class="btn btn-danger" href ="{% url 'purchase:purchase_invoice_delete' object.id %}">Delete </a>
  {%endif%}

</p>
<div class="btn-group justify-content-between" role="group" aria-label="Basic example">
  {%if previous%}
  <a href="{% url 'purchase:purchase_invoice_detail' previous.pk %}" type="button" class="btn btn-primary mr-2">Previous
    {{previous.id}}</a>
  {%endif%}
  {%if next %}
  <a href="{% url 'purchase:purchase_invoice_detail' next.id %}" type="button" class="btn btn-primary mr-2">Next {{next.id}}</a>
  {%endif%}
</div>
<div class="p-4 p-md-4 mb-2 text-white rounded bg-dark"> 
  <div class="row">
    <div class="col-md-6 px-1">
      
        <ol class="list-unstyled mb-0  text-right">
          <li>id <span>{{object.id}}</span></li>
          <li>Supplier :{{object.supplier}}</li>
          <li>created: {{object.created}}</li>
          <li>updated {{object.updated}}</li>
          <li>Status : {{object.status}}</li>
        </ol>
      
    </div>
    <div class="col-md-6 px-1"> 
      <p class="lead my-1">
        <ol class="list-unstyled mb-0">
          <li >Gross Wt: {{object.get_gross_wt}}</li>
          <li >Net Wt: {{object.get_net_wt}}</li>
          <li >Ratecut: {{object.is_ratecut}}</li>
          <li>GST : {{object.is_gst}}</li>
          <li >Balance :{{object.balance}}</li>
          <li >Paid : {{object.get_allocations}}</li>    
        </ul>
      </p>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">is_gst</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">is_ratecut</label>
      </div>
    </div>
  </div>
</div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Purchase Items
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="table-responsive">

          <a hx-get="{% url 'purchase:purchase_invoiceitem_create' object.id%}"
            hx-target="#items" hx-swap="beforeend" class="btn btn-primary">
         Add Items</a>
        
          <table class="table table-sm table-striped table-bordered">
            <thead class="thead-dark">
              <tr><th></th><th></th>
                <th>Return</th><th>Product</th><th>Quantity</th><th>Weight</th>
                <th>Touch</th><th>Nett_wt</th><th>Rate</th><th>Balance</th><th>Journal</th>
              </tr>
            </thead>
            <tbody id="items" hx-target = "closest tr" hx-swap="outerHTML">
              {% for i in object.purchase_items.all %}
              {%include 'purchase/item-inline.html' with object=i%}
              {%endfor%}
            </tbody>
          </table>
      
        </div>
        
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Payments
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {% if object.paymentallocation_set %}
        <table class="table table-sm table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Payment</th><th>created</th><th>amount</th>
            </tr>
          </thead>
          {% for i in object.paymentallocation_set.all %}
          <tr>
            <td><a href="{% url 'purchase:purchase_payment_detail' i.payment.id %}">{{i.payment.id}}</a></td>
            <td>{{i.created}}</td>
            <td>{{i.allocated}}</td>

          </tr>
          {%endfor%}
        </table>
        {%endif%}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       Journals
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {%if object.journals.exists%}
        <table>
          <thead>

          </thead>
          <tbody>
            {%for journal in object.journals.all%}
            <tr>
              <td><a href="{% url 'dea_journal_detail' journal.id%}">{{journal.id}}</a></td>
              <td>{{journal}}</td>
            </tr>
            {%endfor%}
            
          </tbody>
        </table>
        {%endif%}
      </div>
    </div>
  </div>
</div>

{% endblock %}
