{% extends "_base.html" %}
{%load django_tables2%}
{% load widget_tweaks %}
{{filter.form.media}}

{%block content%}

<div id="customer-content" class="container">
 
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Customers</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a class="btn btn-primary mr-2" 
            href="{% url 'contact_customer_create' %}" 
            
            role="button">New Customer</a>
        <a class="btn btn-primary mr-2" 
            
            hx-get="{% url 'contact_customer_merge' %}" 
            hx-target="#dialog" 
            hx-swap="innerHTML"
            role="button">Merge Customer</a>
      </div>
    </div>
  </div>
  
  <div class="row" id="main-content">
    <div class="col-sm-3" id="filter">
      <div class="position-relative h-20" id ="filter">
        {% if filter %}
        <div class="card  bg-light text-center">
            <div class="card-header">
                Filter
            </div>
            <div class="card-body">
                <form hx-trigger="keyup,change,listChanged from:body delay:100ms" 
                        hx-get="."
                        hx-select="#table" 
                        hx-target="#table"
                        hx-swap = "outerHTML"
                        class = "form-inline">
                    
                  
                    {%for field in filter.form%}
                    
                    <div class="form-floating mb-3">
                        {%render_field field|add_class:"form-control"%}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                    
                    {%endfor%}
                </form>
            </div>
        </div>
        {% endif %}
      </div>
    </div>

    <div id="modal" class="modal hide fade"   tabindex="-1" role="dialog"  data-focus="false" aria-hidden="true">
      <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>
 
    {%block table%}
    <div class="col-sm-9 table-responsive" id = "table">
      
      <p>Results :{{table.paginator.count}} </p>
      
      {% render_table table %}
      
    </div>
    {%endblock%}
</div>
</div>

<script>
  
  $('.modal').on('shown.bs.modal', function (e) {
    
    $(this).find('#id_customer').djangoSelect2({
        dropdownParent: $(this).find('.modal-content')       
    }); 

})
</script> 

{%endblock%}
