{% extends "_base.html" %}
{% load static %}
{% block content %}
ledger goes like ....
<table class="table">
  <thead>
    <tr>
      <th>created</th>
      <th>Voucher</th>
      <th>total</th>
      <th>Balance Cash</th>
      <th>Balance metal</th>
    </tr>
  </thead>
  <tbody>
    {%for i in data.ledger%}
    <tr>
      <td>{{i.created}}</td>
      <td>{{i.type}}</td>
      <td>{%if i.balance%}{{i.balance}} {%else%} {{i.total}} {%endif%} </td>
      <td> -- </td>
      <td>{{i.metal_bal}}</td>
    </tr>
    {%endfor%}
    <tr><td>Closing Balance : Cash :-  Metal :- {{data.metalbal}}</td></tr>
  </tbody>
</table>

{%endblock%}
