{% extends "_base.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Company</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a class="btn btn-primary mr-2" href="{% url 'company_create' %}" role="button">Add Company</a>
            <a class="btn btn-primary mr-2" href="{% url 'company_owned_list' %}" role="button">Company List</a>
            
        </div>
    </div>
</div>
<ul class = "list-group">
    {%for i in object_list%}
    <li class="list-group-item">
        <a href="{%url 'company_detail' i.company.id%}" >{{i.company.name}}</a>
        <span><a class="btn btn-danger" href="{% url 'company_delete' i.company.id%}">Delete</a></span>
    </li>
    {%endfor%}
</ul>
{% endblock %}