{%extends '_base.html'%}
{% load crispy_forms_tags%}

{% block content %}
{{filter.form.media}}
<div class="row">
    <div class="col-9">
        <table class = "table table-responsive table-sm">
            <tbody>
                {% for i in filter.qs%}
                <tr>
                    <td>{{i.created}}</td>
                    <td>{{i.loan}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-3">
        <div class="sticky-top">
        
            {% if filter %}
            <div class="card  bg-light mb-3 text-center">
                <div class="card-header">
                    Filter
                </div>
                <div class="card-body">
                    <form action="" method="get" class="form-horizontal">
                        {{filter.form|crispy}}
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{%endblock%}
