{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{% block title %}One X{% endblock title %}</title>
<meta name="description" content="A framework for launching new Django projects quickly.">
<meta name="author" content="rajeshrathodh">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
{% block css %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
{% endblock %}
<script src="{% static 'js/jquery.js' %}"></script>

{% block extra_js %}
{% endblock%}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 justify-content-md-center">
      <a class="navbar-brand" href="{% url 'home' %}">One X</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 
              href="" aria-expanded="false">{{user.workspace.name}}</a>
            <div class="dropdown-menu">
              {%for i in user.company_set.all%}
                <div class="dropdown-item">
                  <a href="{% url 'company_change_workspace' i.id%}">{{i.name}}</a>
                </div>
              {%endfor%}
            </div> 
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                href="" aria-expanded="false">Company</a>
            <div class="dropdown-menu">
              <a href="{% url 'company_owned_list' %}" class="dropdown-item">Company List</a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'membership_list' %}" class="dropdown-item">membership List</a>
            </div>
          </li>
          {%if user.workspace %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">Contact</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'contact_home' %}">Contact</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'contact_customer_list' %}">Customer List</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'product_product_list' %}" role="button" aria-haspopup="true" aria-expanded="false">Product</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'product_category_list' %}">Category</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_producttype_list' %}">Product Type</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_product_list' %}">Product</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_productvariant_list' %}">Product Variant</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_stock_list' %}">Stock</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_stockstatement_list' %}">Stock Statement</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_stockstatement_add' %}">Add Physical Statement</a>
              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'girvi-home'%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Girvi</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'girvi-home'%}">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'girvi_loan_list'%}">Loan</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'girvi_release_list'%}">Release</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{%url 'girvi_license_list'%}">License</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{%url 'loan_archive' %}">Archive</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{%url 'notice' %}">Notice</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{%url 'girvi_physicalstock_add'%}">Add Physical</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{%url 'girvi_physicalstock_list'%}">Physical List</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'sales_home'%}"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sales</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'sales_home' %}">Home</a>
              <div class="dropdown-divider"></div> 
              <a class="dropdown-item" href="{% url 'sales_invoice_list' %}">Invoice List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'sales_receipt_list' %}">Receipt List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'sales_balance' %}">Balance</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" 
              href="" aria-haspopup="true" aria-expanded="false">Approval</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'sales_home' %}">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'approval_approval_create' %}">Add Approval</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'approval_approval_list' %}">Approval List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'approval_approvallinereturn_create' %}">Add ApprovalReturn</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'approval_approvallinereturn_list' %}">ApprovalLineReturn List</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'purchase_home'%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Purchase</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'purchase_home'%}">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'purchase_invoice_list'%}">Purchase List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'purchase_payment_list'%}">Payment List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'purchase_balance' %}">Balance</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'chit_list' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Chit</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'chit_list'%}">Chit</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'collection_list'%}">Collection</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'allotment_list' %}">Allotment</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'daybook' %}">Daybook </a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="deaMenu" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              DEA
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="deaMenu">
              <a class="dropdown-item" href=" {% url 'dea_home' %}">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'dea_ledger_list' %}">Ledgers</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'dea_general_ledger' %}">General Ledger</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'dea_ledgerstatement_list'%}">Ledger statement</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'dea_account_list' %}">Accounts</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'dea_accountstatement_list' %}">Account statement</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'dea_journals_list' %}">Journals</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'dea_daybook' %}">Daybook</a>
            </div>
          </li>

          {% endif %}
          
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ user.email }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Preferences</a>
              <a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
            </div>
          </li>
        </ul>
        {% else %}
          <form class="form-inline ml-auto">
            <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log in</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary ml-2">Sign up</a>
          </form>
        {% endif %}
      </div>
    </nav>

  <div class="container-lg">
    {% include 'partials/messages.html'%}

    {% block content %}
      <p>Default content...</p>
    {% endblock content %}
  </div>
  
  <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      <small class="d-block mb-3 text-muted">&copy; 2017-2021 rajeshrathodh </small>
    </div>
  </div>
  </footer>

  {% block javascript %}
  <!-- Bootstrap JavaScript -->
  <script src="{% static 'bootstrap/js/bootstrap.js' %}" ></script>
 
  {% endblock javascript %}

</body>
</html>
