{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{% block title %}One X{% endblock title %}</title>
<meta name="description" content="A framework for launching new Django projects quickly.">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

{% block css %}
<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

{{form.media.css}}
{% endblock %}

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 justify-content-md-center">
      <a class="navbar-brand" href="{% url 'home' %}">One X</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'contact_home' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">

              <a class="dropdown-item" href="{% url 'contact_customer_list' %}">Customer</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'contact_supplier_list' %}">Supplier</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'product_product_list' %}" role="button" aria-haspopup="true" aria-expanded="false">Product</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'product_category_list' %}">Category</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_producttype_list' %}">Product Type</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_product_list' %}">Product</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_productvariant_list' %}">Product Variant</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_stock_list' %}">Stock</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'product_stocktransaction_list' %}">StockTransaction</a>
              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'girvi-home'%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Girvi</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'girvi-home'%}">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'girvi_loan_list'%}">Loan</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'girvi_release_list'%}">Release</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{%url 'girvi_license_list'%}">License</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Ledger</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sales</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'sales_invoice_create' %}">Add Invoice</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'sales_invoice_list' %}">Invoice List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'sales_receipt_create' %}">Add Receipt</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'sales_receipt_list' %}">Receipt List</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Purchase</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'purchase_invoice_create'%}">Add Purchase</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'purchase_invoice_list'%}">Purchase List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'purchase_payment_create'%}">Payment</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'purchase_payment_list'%}">Payment List</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'chit_list' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Chit</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'chit_list'%}">Chit</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'collection_list'%}">Collection</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'allotment_list' %}">Allotment</a>

            </div>
          </li>
          {% endif %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Daybook</a>
        </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.email }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
              </div>
            </li>
          </ul>
        {% else %}
          <form class="form-inline ml-auto">
            <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log in</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary ml-2">Sign up</a>
          </form>
        {% endif %}
      </div>
    </nav>

  <div class="container">
    {% block content %}
      <p>Default content...</p>
    {% endblock content %}
  </div>

  <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      <small class="d-block mb-3 text-muted">&copy; 2017-2018 rajeshrathodh </small>
    </div>
  </div>
</footer>

  {% block javascript %}
  <!-- Bootstrap JavaScript -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <!-- 3rd party JavaScript -->

  <!-- Project JS -->
  <!-- <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> -->

  <script src="{% static 'js/base.js' %}"></script>

  {% endblock javascript %}
{{form.media.js}}
</body>
</html>
