{% load humanize %}
{%load django_tables2%}
{%load bootstrap4%}
{% if filter %}
    <form action="" method="get" class="form form-inline mb-4">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}
records returned :{{filter.qs.count}}
<div class="table-responsive-sm">
  <form action="{% url 'girvi-multirelease'%}" method="POST">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Go</button>
    {% render_table table 'django_tables2/bootstrap4.html'  %}

  </form>
</div>
