{% load humanize %}
{%load django_tables2%}
{%load crispy_forms_tags%}

Results :{{page_obj.paginator.count}}
<div class="row">
    <div class="col-sm-3">
        <div class="position-relative">
            {% if filter %}
            <div class="card  bg-light text-center">
                <div class="card-header">
                    Filter
                </div>
                <div class="card-body">
                    <form action="" method="get" class="form-horizontal">
                        {{ filter.form|crispy}}
                        <button type ="submit" class = "btn btn-primary">filter</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="table table-sm table-responsive text-center">
            {% render_table table  %}
        </div>
    </div>

</div>
