{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="card container mt-4 col-md-6">
  
  <div class="card-body">
    <p>
      <a class="btn btn-info" 
        hx-get="{% url 'girvi:girvi_release_list' %}"
        hx-target = "#content"
        hx-push-url = "true"
        hx-swap="innerHTML"
        ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
        </svg> Release</a>
    <a class="btn btn-danger" href="{% url 'girvi:girvi_release_delete' object.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
    </svg></a>
    </p>
    <table class="table table-sm table-striped">
      <tr><td>releaseid</td><td>{{ object.releaseid }}</td></tr>
      <tr><td>Release Date</td><td>{{ object.created }}</td></tr>
      <tr><td>loanid</td><td><a href="" hx-get="{% url 'girvi:girvi_loan_detail' object.loan.id%}"
        hx-target="#content"
        hx-swap="innerHTML transition:true"
                            hx-vals='{"use_block":"content"}'
                            hx-push-url="true">{{object.loan_id}}</a></td></tr>
      <tr><td>loandate</td><td>{{ object.loan.loan_date }}</td></tr>
      <tr><td>customer</td><td><a hx-get="{% url 'contact_customer_detail' object.loan.customer.id %}"
        hx-target="#content" hx-swap="innerHTML transition:true">{{ object.loan.customer}}</a></td></tr>
      <tr><td>created</td><td>{{ object.created }}</td></tr>
      <tr><td>interestpaid</td><td>{{ object.interestpaid }}</td></tr>
    
    </table>
  </div>
</div>
  

{% endblock %}
