{%extends "_base.html"%}
{%load static%}
{%block content%}
<div class="container card col-md-8 mt-4">
    <div class="card-body">
        <h1 class="card-title">License Listing</h1>
        <p>
            <a class="btn btn-secondary" href="{% url 'girvi:girvi_license_list' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg></a>
            <a class="btn btn-success" href="{% url 'girvi:girvi_license_create' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg> License</a>
        </p>
        <div class="col table-responsive">
            <table class="table table-sm table-hover table-striped">
            <tr>
                <td>ID</td>
                <td>created</td>
                <td>last_updated</td>
                <td>type</td>
                <td>shopname</td>
                <td>address</td>
                <td>phonenumber</td>
                <td>propreitor</td>
            </tr>
            {% for object in object_list %}
            <tr>
                <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
                <td>{{ object.created|date }}</td>
                <td>{{ object.last_updated }}</td>
                <td>{{ object.type }}</td>
                <td>{{ object.shopname }}</td>
                <td>{{ object.address }}</td>
                <td>{{ object.phonenumber }}</td>
                <td>{{ object.propreitor }}</td>
            </tr>
            {% endfor %}
            </table>
            </div>
    </div>
    
</div>


{%endblock%}